.modal-comments
  .modal-scroll-container.block-hor-sm
    mixin comment(img, initials, comment, name, time)
      .comment.block-ver-sm.border-bottom
        if img
          .avatar.pull-left(style="background-image: url('" + img + "')")
        else
          .avatar.pull-left(data-initials=initials)
        .text.pull-left
          p= comment
          p.tight.text-grey.text-smaller.pull-left
            span= name
            span  &middot; 
            span= time
    
    +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris.", "Amelia Lewis", "02/03/2016 at 11:00am")
    +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "Andrew Harris", "02/03/2016 at 11:00am")
    +comment("", "SC", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "Sansan Chen", "02/03/2016 at 11:00am")
    +comment("", "SC", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "Sansan Chen", "02/03/2016 at 11:00am")
    +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at.", "Amelia Lewis", "Yesterday at 11:14am")
    +comment("", "NA", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "Nicky Ashwell", "Yesterday at 11:52am")
    +comment("", "NA", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at.", "Nicky Ashwell", "4 hours ago")
    +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris.", "Andrew Harris", "10 minutes ago")
    +comment("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "Amelia Lewis", "A moment ago")
  .comment-input.block-xs.border-top: textarea(placeholder="Add a comment")