.modal-info-panel.modal-info-panel-image.bg-white.border-right
  .modal-section-caption.block-md.border-bottom
    .block-bot-sm
      ul.clean
        li.modal-file-type.wgsn-font Image
        li.modal-file-name.text-bold Balmain
        li.modal-file-caption.text-bold.tight Autumn/Winter 2016
        li.modal-file-caption.text-bold.tight Paris
    .block-right-sm.inline-block
      ul.clean
        li.tight Image name:
        li.tight Format:
        li.tight Market:
        li.tight View:
        li.tight Category:
    .block-right-sm.inline-block
      ul.clean
        li.tight original_blm_aw16_003.jpg
        li.tight JPG
        li.tight Womenswear
        li.tight Complete look
        li.tight Catwalks

  .modal-section-other.show-comments
    .row.modal-tabs
      .col-xs-4.text-center: .tab.border-right.border-bottom.bg-grey.flex-center.hoverable.btn-modal-show-comments: span.wgsn-font Comments
      .col-xs-4.text-center: .tab.border-right.border-bottom.bg-grey.flex-center.hoverable.btn-modal-show-related-images: span.wgsn-font Related Images
      .col-xs-4.text-center: .tab.border-bottom.bg-grey.flex-center.hoverable.btn-modal-show-related-reports: span.wgsn-font Reports

    .block-top-sm
      include comments
      include related-images
      include related-reports