.modal-related-reports
  mixin related-report(img, category, name, date)
    .block-xxs.pull-left.hoverable.related-report
      .block-bot-xs
        .img(style="background-image: url('" + img + "')")
      .block-bot-xs
        p.text-grey.tight= category
        p.text-bold.tight= name
        p.text-grey.tight= date

  .modal-scroll-container.block-hor-sm
    +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
    +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
    +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
    +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
    +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
    +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
    +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")
    +related-report("http://www.wgsn.com/storage/vol20/fo_image_store/cached/boards/65060/featured.jpg", "Must Haves", "Must Haves A/W 16/17: Accessories", "02/03/2016")