.modal-info-panel.modal-info-panel-report.bg-white.border-right
  .modal-section-caption.block-md.border-bottom
    .block-bot-sm
      ul.clean
        li.modal-file-type.wgsn-font Report
        li.modal-file-name.text-bold Kim &amp; Kanye Star in High-Profile Balmain Campaign
        li.modal-file-caption.text-bold.tight Samantha Aldenton
        li.modal-file-caption.text-bold.tight 06.01.15

  .modal-section-other.show-comments
    .row.modal-tabs
      .col-xs-6.text-center: .tab.border-right.border-bottom.bg-xlt-grey.flex-center.hoverable.btn-modal-show-comments: span.wgsn-font Comments
      .col-xs-6.text-center: .tab.border-bottom.bg-xlt-grey.flex-center.hoverable.btn-modal-show-related-images: span.wgsn-font Related Images

    include comments
    include related-images