.modal-info-panel.modal-info-panel-video.bg-white.border-right
  .modal-section-caption.block-md.border-bottom
    .block-bot-sm
      ul.clean
        li.modal-file-type.wgsn-font Video
        li.modal-file-name.text-bold The Jewellery Tech Evoultion
        li.modal-file-caption.text-bold.tight Trend Minute
        li.modal-file-caption.text-bold.tight 1:11

  .modal-section-other.show-comments
    include comments