.left-side-panel.image-library-filters-active
  .row.tabs
    .col-xs-6.text-center: .tab.active.hoverable#tab-filters: span.font-wgsn Filters
    .col-xs-6.text-center: .tab.hoverable#tab-folders: span.font-wgsn Workspace

  .panel-filters.block-hor-xxs
    .scroll-container
      mixin filter-btn(name)
        .filter-btn.block-ver-xs.block-left-sm.block-right-xs.hoverable(id!=attributes.id)
          span= name
          i.icon.icon-angle-right.pull-right.tight

      +filter-btn("Category")(id="filter-btn-category")
      +filter-btn("Market")(id="filter-btn-market")
      +filter-btn("Products")(id="filter-btn-products")
      +filter-btn("Brand")(id="filter-btn-brand")
      +filter-btn("City")(id="filter-btn-city")
      +filter-btn("Season")(id="filter-btn-season")

      .item.block-xs

      .header-row
        span.font-wgsn Advanced filter options

      +filter-btn("Colour")(id="filter-btn-colour")
      +filter-btn("Prints & Graphics")(id="filter-btn-prints")
      +filter-btn("Fabric")(id="filter-btn-fabric")

    //- .static-bottom-row.block-xs
    //-   .btn.btn-white
    //-     i.icon.icon-reset
    //-     span Reset all filters

  .panel-folders.block-hor-xxs
    .scroll-container
      include ../workspace/folder-structure

    .board-preview.closed.hoverable
      .block-xs
        span.font-wgsn Board preview
        i.icon.icon-double-angle-down.pull-right
    
      mixin board-preview-image(img)
        .img.pull-left.hoverable(style="background-image: url('" + img + "')")

      .scroll-container.block-xxs
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/25/39/44/42/media_blm_aw16_001.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/35/39/44/42/media_blm_aw16_003.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/45/39/44/42/media_blm_aw16_004.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/55/39/44/42/media_blm_aw16_006.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/65/39/44/42/media_blm_aw16_007.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/75/39/44/42/media_blm_aw16_008.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/85/39/44/42/media_blm_aw16_010.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/95/39/44/42/media_blm_aw16_011.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/06/39/44/42/media_blm_aw16_013.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/16/39/44/42/media_blm_aw16_014.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/26/39/44/42/media_blm_aw16_016.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/36/39/44/42/media_blm_aw16_018.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/46/39/44/42/media_blm_aw16_019.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/56/39/44/42/media_blm_aw16_021.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/66/39/44/42/media_blm_aw16_022.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/76/39/44/42/media_blm_aw16_023.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/86/39/44/42/media_blm_aw16_025.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/96/39/44/42/media_blm_aw16_026.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/07/39/44/42/media_blm_aw16_028.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/17/39/44/42/media_blm_aw16_029.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/27/39/44/42/media_blm_aw16_031.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/37/39/44/42/media_blm_aw16_033.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/47/39/44/42/media_blm_aw16_034.jpg")
        +board-preview-image("https://www.wgsn.com/storage/vol20/ss_image_store/57/39/44/42/media_blm_aw16_036.jpg")


include filter