.left-side-panel.border-right.bg-grey.hidden-xs.image-library-filters-active
  .row.tabs
    .col-xs-6.text-center: .block-sm.border-right.active.hoverable#tab-filters: span.font-wgsn Filters
    .col-xs-6.text-center: .block-sm.hoverable#tab-folders: span.font-wgsn Workspace

  .panel-filters
    .item.block-sm.border-bottom.hoverable#filter-btn-category
      span Category
      i.fa.fa-angle-right.pull-right.tight
    
    .item.block-sm.border-bottom.hoverable#filter-btn-market
      span Market
      i.fa.fa-angle-right.pull-right.tight
    
    .item.block-sm.border-bottom.hoverable#filter-btn-products
      span Products
      i.fa.fa-angle-right.pull-right.tight
    
    .item.block-sm.border-bottom.hoverable#filter-btn-designer
      span Designer
      i.fa.fa-angle-right.pull-right.tight
    
    .item.block-sm.border-bottom.hoverable#filter-btn-city
      span City
      i.fa.fa-angle-right.pull-right.tight
    
    .item.block-sm.border-bottom.hoverable#filter-btn-season
      span Season
      i.fa.fa-angle-right.pull-right.tight

    .item.block-xs.border-bottom

    .item.block-sm.border-bottom.hoverable#filter-btn-colour
      span Colour
      i.fa.fa-angle-right.pull-right.tight

    .item.block-sm.border-bottom.hoverable#filter-btn-prints
      span Prints &amp; Graphics
      i.fa.fa-angle-right.pull-right.tight

    .item.block-sm.border-bottom.hoverable#filter-btn-fabric
      span Fabric
      i.fa.fa-angle-right.pull-right.tight

  .panel-folders
    include ../workspace/folder-structure

include filter