.modal#add-modal
  .modal-header
    h2.pull-left.tight Add to Board
    i.icon.icon-cross.pull-right.hoverable.close-modal

  .modal-content
    .block-bot-sm
      h3 Choose a Board

      .row.border.hoverable
        .block-xs.pull-left: i.icon.icon-folder
        .block-ver-xs.pull-left: span Spring/Summer 2016
        .block-xs.pull-right: i.icon.icon-caret-down
    
    h3 or

    input(type="text", placeholder="Enter a name for your new board")

  .modal-footer
    p.tight.block-top-xs.hoverable.pull-left.close-modal Cancel
    .btn.btn-white.pull-right.close-modal Done