.modal#print-modal
  .modal-header
    h2.pull-left.tight Print
    p.pull-left.right.num-of-files 1 image
    i.icon.icon-cross.pull-right.hoverable.close-modal

  .modal-content
    .row
      .col-xs-12
        h3 Layout

    .row.block-bot-md
      .col-xs-12
        .block-right-xs.inline-block.hoverable
          .print-layout-tile.pp-1.active
            .layout-tile-container
              .block
            p 1 per page

        .block-right-xs.inline-block.hoverable
          .print-layout-tile.pp-2
            .layout-tile-container
              .block
              .block
            p 2 per page

        .block-right-xs.inline-block.hoverable
          .print-layout-tile.pp-3
            .layout-tile-container
              .block
              .block
              .block
            p 3 per page

        .block-right-xs.inline-block.hoverable
          .print-layout-tile.pp-4
            .layout-tile-container
              .block
              .block
              .block
              .block
            p 4 per page

        .block.inline-block.hoverable
          .print-layout-tile.pp-thumbnails
            .layout-tile-container
              .block
              .block
              .block
              .block
              .block
              .block
              .block
              .block
              .block
            p Thumbnails

    .row
      .col-xs-12
        h3 Page Options

    .row.block-bot-sm
      .col-xs-2
        .block-ver-xs.block-right-xs.inline-block Paper size:
        
      .col-xs-4
        select
          option Letter (8.5" x 11")
          option Legal (8.5" x 14")
          option Tabloid (11" x 17")
          option A4 (297 x 210mm)
          option A3 (420 x 297mm)
          
      .col-xs-2
        .block-ver-xs.block-right-xs.inline-block Orientation
      
      .col-xs-4
        select
          option Landscape
          option Portrait

    .row.block-bot-sm
      .col-xs-3
        label(for='print-page-count')
          input#print-page-count(type='checkbox')
          span Page count

      .col-xs-3
        label(for='print-filename')
          input#print-filename(type='checkbox')
          span Filename

      .col-xs-3
        label(for='print-details')
          input#print-details(type='checkbox')
          span Details

      .col-xs-3
        label(for='print-comments')
          input#print-comments(type='checkbox')
          span Comments

    .row
      .col-xs-2
        label(for='print-page-title')
          input#print-page-title(type='checkbox')
          span Page title

      .col-xs-10
        input(type='text', placeholder='Page title')

  .modal-footer
    p.tight.block-top-xs.hoverable.pull-left.close-modal Cancel
    .btn.btn-white.pull-right.close-modal Done