.modal#save-search-modal
  .modal-header
    h2.pull-left.tight Save Search
    i.icon.icon-cross.pull-right.hoverable.close-modal

  .modal-content
    .block-bot-sm
      input(type="text", placeholder="Enter a name for your saved search")

  .modal-footer
    p.tight.block-top-xs.hoverable.pull-left.close-modal Cancel
    .btn.btn-white.pull-right.close-modal Done