.modal#send-modal
  .modal-header
    h2.pull-left.tight Send
    i.icon.icon-cross.pull-right.hoverable.close-modal

  .modal-content
    .block-bot-sm
      input(type="text", placeholder="Recipient(s). You can enter your co-workers names or comma-seperated emails.")

    .row.block-bot-sm
      .image-preview.border.pull-left(style="background-image: url('http://www.wgsn.com/storage/vol20/ss_image_store/96/53/61/42/media_yzy_aw16_009.jpg');")
      .block-left-sm.pull-left
        input(type="text", placeholder="Subject (optional)")
        .block-top-sm: textarea(placeholder="Message (optional)")

    .row
      input(type="checkbox")
      span Notify me when message is received.

  .modal-footer
    p.tight.block-top-xs.hoverable.pull-left.close-modal Cancel
    .btn.btn-white.pull-right.close-modal Done