.modal#send-modal
  .modal-header
    h2.pull-left.tight Send
    p.pull-left.right.num-of-files 1 image
    i.icon.icon-cross.pull-right.hoverable.close-modal

  .modal-content
    .row.block-bot-sm
      .col-xs-12
        ul#myTags

    .row.block-bot-sm
      .col-xs-12
        input(type="text", placeholder="Subject (optional)")

    .row.block-bot-sm
      .col-xs-12
        textarea(placeholder="Message (optional)")

    .row.block-bot-sm
      .col-xs-12
        label(for="receipt-notification")
          input#receipt-notification(type="checkbox")
          span Notify me when message is received.

    .row
      .col-xs-12
        label(for="send-comments")
          input#send-comments(type="checkbox")
          span Send comments with items

  .modal-footer
    p.tight.block-top-xs.hoverable.pull-left.close-modal Cancel
    .btn.btn-white.pull-right.close-modal Done