.modal#share-modal
  .modal-header
    h2.pull-left.tight Share
    i.icon.icon-cross.pull-right.hoverable.close-modal

  .modal-content
    .block-sm.border
      h3 Invite people
      .border.row
        .block-xs.pull-left.hoverable.border-right
          span Can edit
          .block-left-xs.inline-block: i.icon.icon-caret-down

        .input-container.pull-left
          input(type="text", placeholder="Enter a name")
          span.icon-container.border: i.icon.icon-caret-down

    .block-top-sm
      h3 Who has access

      .border.share-user-container
        mixin share-user(img, initials, name, owner, permission)
          .row.share-user.border-bottom
            .col-xs-6
              if img
                .avatar(style="background-image: url('" + img + "')")
              else
                .avatar= initials

              .block-ver-xs.inline-block: span= name
            
            .col-xs-6.text-right.text-grey
              if owner == "yes"
                .block-xs.inline-block: span Is Owner

              if owner == "no"
                if permission == "edit"
                  .block-left-xs.inline-block.hoverable: span Can edit

                if permission == "view"
                  .block-left-xs.inline-block.hoverable: span Can view

                .block-left-xs.inline-block.hoverable: i.icon.icon-caret-down
                .block-xs.inline-block.hoverable: i.icon.icon-cross-circle

        +share-user("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Amelia Lewis", "yes", "")
        +share-user("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAT6AAAAJGZiMmIwM2E3LTMzNzMtNDEzNi1iN2JhLWJlZmYzM2MwNmI2Nw.jpg", "JR", "Julian Ramirez", "no", "edit")
        +share-user("https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg", "AH", "Andrew Harris", "no", "view")
        +share-user("https://media.licdn.com/media/AAEAAQAAAAAAAAZVAAAAJDBlZWUwZWE0LTk1OWYtNGMyYi1iYmU5LTA3NDNlNDYxZmYwMQ.jpg", "SC", "Sansan Chen", "no", "view")
        +share-user("", "SF", "Sarah Freiser", "no", "view")
        +share-user("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAFZAAAAJDM1YTk4OTc5LTJjZGUtNGJkMS1iMTM4LTBmMjIzYTM3NGYzMQ.jpg", "NA", "Nicky Ashwell", "no", "view")
        +share-user("", "HS", "Hema Sivaram", "no", "view")
        +share-user("", "AG", "Anna Glassman", "no", "view")
        +share-user("", "HZ", "Hans Zhou", "no", "view")
        +share-user("", "PT", "Pathik Tanna", "no", "view")

        .row.hoverable#make-folder-public
          .col-xs-12.text-center
            p.tight.block-ver-sm
              span.text-underline Make folder public
              i.icon.icon-info-circle.block-left-xs

  .modal-footer
    p.tight.block-top-xs.hoverable.pull-left.close-modal Cancel
    .btn.btn-white.pull-right.close-modal Done