extends ../layout

block append vars
  - bodyclass = 'view-view-options'

mixin file-view-option()
  .file-tile
    .file-container
      .file: i.fa.fa-4x.fa-file
      
      .file-type-label
        i.fa.fa-file
        span File type
  
    .caption-container
      ul.caption
        li Chanel
        li Spring/Summer
        li Paris

block content
  .content-wrap
    section.heading
      h1.text-center View Options
    
    section
      ul.view-option-btns
        li.btn-view-small Small
        li.btn-view-medium Medium
        li.btn-view-large Large

    section
      .tile: +file-view-option()
      .tile: +file-view-option()
      .tile: +file-view-option()
      .tile: +file-view-option()
      .tile: +file-view-option()
      .tile: +file-view-option()
      .tile: +file-view-option()
      .tile: +file-view-option()
      .tile: +file-view-option()
      .tile: +file-view-option()