.context-menu
  position: absolute
  background: white
  z-index: 100
  opacity: 0
  pointer-events: none
  width: 180px
  @extend .box-shadow
  @extend .border
  @extend .clean
  color: $dk-grey

  &.show
    opacity: 1
    pointer-events: all

  &:after
    content: ""
    position: absolute
    width: 10px
    height: 10px
    background: white
    border: solid $lt-grey
    border-width: 0 0 1px 1px
    top: -6px
    left: 50%
    z-index: -1
    +transform(translate3d(-50%, 0, 0) rotate(135deg))

  li
    @extend .tight
    @extend .hoverable
    padding: 6px

    &:hover
      background: rgba($lt-grey, 0.15)

    &:active
      background: rgba($lt-grey, 0.3)

    .icon
      margin: 0 10px 0 0

#item-context-menu
  bottom: -130px
  left: calc(50% + 54px)

  &:after
    display: none

#board-context-menu
  top: 18px
  right: 10px
  width: 200px

  .label-circle
    width: 12px
    height: 12px
    margin: 0 7px
    border-radius: 50%
    @extend .inline-block
    position: relative
    
    .icon
      color: white
      opacity: 0

    &:after
      content: ""
      position: absolute
      top: -2px
      right: -2px
      bottom: -2px
      left: -2px
      border-width: 1px
      border-style: solid
      opacity: 0
      border-radius: 50%
      +transition(all 400ms)

    &:hover,
    &.selected
      &:after
        opacity: 1

    &.selected:hover
      .icon
        opacity: 1

  .label-circle-red
    background: $label-red

    &:after
      border-color: $label-red

  .label-circle-orange
    background: $label-orange

    &:after
      border-color: $label-orange

  .label-circle-yellow
    background: $label-yellow

    &:after
      border-color: $label-yellow

  .label-circle-green
    background: $label-green

    &:after
      border-color: $label-green

  .label-circle-blue
    background: $label-blue

    &:after
      border-color: $label-blue

  .label-circle-purple
    background: $label-purple

    &:after
      border-color: $label-purple

  .label-circle-grey
    background: $label-grey

    &:after
      border-color: $label-grey

  &:after
    display: none

#utility-row-context-menu
  top: 30px
  right: 0

  &:after
    left: 89%

#utility-row-settings-context-menu
  top: 30px
  left: 50%
  +transform(translate3d(-50%, 0, 0))