// ============================================================
// HEART & CHECKBOX
// ============================================================

.file,
.file-details-view
  .file-checkbox,
  .file-heart
    position: absolute
    top: 10px
    opacity: 0
    color: white
    @extend .no-transition
    font-size: 16px
    z-index: 10

    &:before
      top: 0
  
  .icon-heart
    opacity: 1 !important
    color: $label-red !important

  .icon-tick-circle-filled
    background: white
    width: 16px
    height: 16px
    +border-radius(50%)
    opacity: 1 !important
    color: $dk-grey


// ============================================================
// STANDARD FILE
// ============================================================

.file
  width: 100%
  background: white
  position: relative
  padding-bottom: 0
  
  img
    vertical-align: bottom

  .caption-container
    display: none
    @extend .bg-white
    @extend .block-xs
    
    ul
      min-height: 54px

      li
        +text-truncate(100%)

      li:first-of-type
        @extend .font-wgsn

      li:not(:first-of-type)
        @extend .text-grey

      .filename
        color: $md-grey
        display: none

  .file-checkbox,
  .file-heart
    top: 10px

  .file-checkbox
    left: 10px

  .file-heart
    right: 10px

  .file-utilities
    position: absolute
    bottom: 0
    width: 100%
    height: 60px
    color: white
    @extend .flex-center
    background: -webkit-linear-gradient(bottom, rgba(black, 0) 0%, rgba(black, 0) 100%)

    .btn
      display: inline-block
      margin: 0 4px
      opacity: 0
      position: relative
      bottom: 10px
      +transform(translate3d(0, 5px, 0))
      opacity: 0

      .icon
        pointer-events: none

  .file-select-state
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(black, 0.5)
    opacity: 0

  &:hover
    .file-checkbox,
    .file-heart
      opacity: 1
    
    .file-utilities
      background: -webkit-linear-gradient(bottom, rgba(black, 0.6) 0%, rgba(black, 0) 100%)
      
      .btn
        +transform(translate3d(0, 0, 0))
        opacity: 1

  &.selected
    border-color: $dk-grey

    .file-select-state
      opacity: 1

    .icon-tick-circle-filled
      opacity: 1 !important
      color: $dk-grey

  &.show-caption
    .file-utilities
      bottom: 64px

    .file-select-state
      height: calc(100% - 64px)

  &.show-filename
    .file-utilities
      bottom: 84px

    .file-select-state
      height: calc(100% - 84px)

  &:not(.show-caption)
    padding-bottom: 0px !important


// ============================================================
// DETAILS VIEW
// ============================================================

.file-details-view
  overflow: auto
  margin: 20px auto 0
  max-width: 1200px
  
  .thumb-container
    float: left
    width: 60%
    position: relative

    img
      width: 100%

    .file-utilities-1
      position: absolute
      top: 0
      left: 0
      width: 100%
      color: white
      font-size: 16px

      &:after
        content: ""
        background: -webkit-linear-gradient(top, rgba(black, 0.3) 0%, rgba(black, 0) 100%)
        position: absolute
        display: block
        top: 0
        left: 0
        width: 100%
        height: 70px
        opacity: 0
        +transition(all 400ms)

      .file-checkbox,
      .file-heart
        top: 15px

      .file-checkbox
        left: 15px

      .file-heart
        right: 15px


    &:hover
      .file-utilities-1
        &:after
          opacity: 1

      .file-checkbox,
      .file-heart
        opacity: 1

  .caption-container
    float: left
    width: 40%

    .caption
      &:nth-of-type(2)
        font-size: 18px
      
      &:nth-of-type(3),
      &:nth-of-type(4)
        @extend .tight

    .font-wgsn
      font-size: 10px

    .file-utilities-2
      li
        .icon
          color: $md-grey
          font-size: 15px

        &:hover
          .icon
            color: $dk-grey

  &.selected
    .file-utilities-1:after
      opacity: 1