.filter
  position: absolute
  top: 0
  left: $left-side-panel-width
  bottom: 0
  min-width: 250px
  max-width: 800px
  height: calc(100vh - (#{$header-height} + #{$title-row-height}))
  z-index: 200
  +transform(translate3d(-100%, 0, 0))
  display: none
  background: lighten($lt-grey, 7)

  &:after
    content: ""
    background: rgba(white, 0.8)
    position: absolute
    display: block
    top: 0
    left: calc(100% + 1px)
    width: 100vw
    height: 100%
    +transition(all 300ms)
    opacity: 0
    pointer-events: none

  &.show
    +transform(translate3d(0, 0, 0))

    &:after
      opacity: 1

  .filter-list
    height: calc(100vh - (#{$header-height} + #{$title-row-height} + 65px + 45px + 45px))
    overflow-x: scroll
    overflow-y: hidden

    ul
      column-gap: 15px
      column-width: 190px
      height: 100%
      
      li
        margin: 0 0 10px
        
        .util-checkbox
          margin: 0 6px 0 0
          color: $md-grey

  .filter-search
    input[type="text"]
      width: calc(100% - 40px)

  .filter-anchors
    .anchor-letter
      width: 20px
      height: 20px
      margin: 0 2px
      font-size: 12px
      border-radius: 50%
      padding: 3px 0
      background: transparent

      &:hover,
      &.active
        background: $fashion
        color: white

      &:first-of-type
        @extend .active

  .filter-bottom-row
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    color: $md-grey

    .fa-repeat
      margin-right: 10px