.filter
  position: absolute
  top: 0
  left: $left-side-panel-width
  bottom: 0
  min-width: 250px
  max-width: 800px
  height: calc(100vh - (#{$global-product-row-height}))
  z-index: 200
  +transform(translate3d(-100%, 0, 0))
  display: none

  .filter-overlay
    background: rgba($dk-grey, 0.8)
    position: absolute
    display: block
    top: 0
    left: calc(100% + 1px)
    width: 100vw
    height: 100%
    opacity: 0
    pointer-events: none

  &.show
    +transform(translate3d(0, 0, 0))

    .filter-overlay
      opacity: 1
      pointer-events: all
  
  &.filter-sm
    width: 250px

  &.filter-md
    width: 500px

  &.filter-lg
    width: 800px

  .filter-top-row
    overflow: auto

    .tab-nav
      margin-top: 1px

  .filter-anchors
    .anchor-letter
      width: 20px
      height: 20px
      margin: 0 4px
      font-size: 12px
      +border-radius(50%)
      padding: 3px 0
      background: transparent

      &:hover,
      &.active
        background: $fashion
        color: white

      &:first-of-type
        @extend .active

  .filter-list
    position: absolute
    top: 0
    bottom: 52px
    width: 100%
    overflow-x: auto
    overflow-y: hidden

    ul
      display: flex
      flex-direction: column
      flex-wrap: wrap
      height: 100%
      
      li
        width: 200px
        // margin-bottom: 10px
        
        span
          display: inline-block
          width: calc(100% - 30px)
          line-height: 1.4em

      .filter-subheading
        @extend .text-bold

  .filter-top-row + .filter-anchors + .filter-list
    top: 100px

  .filter-columns
    height: calc(100% - 52px)

    .filter-list
      position: relative
    
    .col
      float: left
      height: 100%
      width: 230px
      @extend .border-right

      &:last-of-type
        border-right: none

      ul
        position: relative
        
        li
          span
            width: calc(100% - 60px)

  .filter-bottom-row
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    color: $md-grey
    overflow: auto

    .icon
      margin: 0 6px 0 0

html.tablet
  .filter
    width: calc(100vw - #{$left-side-panel-width})
    max-width: calc(100vw - #{$left-side-panel-width})