.file-outer
  float: left

.file-container
  padding: 6px

.file
  width: 100%
  background: white
  position: relative

  .thumb-container
    position: relative
    overflow: hidden
    
    .thumb-inner
      background: white no-repeat center / contain
      width: 100%
      // height: calc((100vw - 270px) / 4)
      position: relative
      margin: 0 auto

      .fa
        position: absolute
        top: 50%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
        color: rgba(black, 0.05)

    .original-artwork
      @extend .font-wgsn
      position: absolute
      bottom: 0
      left: 0
      background: rgba(black, 0.8)
      color: white
      padding: 4px 4px 3px 6px
      letter-spacing: 0.1em
      font-size: 9px 

      &:after
        content: ""
        position: absolute
        top: 0
        right: -10px
        width: 0
        height: 0
        border-bottom: 19px solid rgba(black, 0.8)
        border-right: 10px solid transparent

  .caption-container
    display: none
    
    ul
      padding: 10px
      min-height: 54px

      li:first-of-type
        @extend .text-bold

      .filename
        color: $md-grey
        display: none

  .file-checkbox,
  .file-heart
    position: absolute
    top: 10px
    opacity: 0
    color: white
    @extend .no-transition

  .file-heart
    font-size: 16px

  .fa-heart
    opacity: 1 !important
    color: $label-red

  .file-checkbox
    left: 10px
    width: 16px
    height: 16px
    border-radius: 50%
    border: 1px solid white
    @extend .flex-center
    font-size: 8px

    &.selected
      background: $fashion
      border-color: $fashion
      opacity: 1 !important

  .file-heart
    right: 10px

  .file-utilities
    position: absolute
    top: 0
    width: 100%
    height: 100%
    color: white
    @extend .flex-center

    #btn-add-to-board,
    #btn-item-menu
      display: inline-block
      margin: 0 4px
      +transform(translate3d(0, 10px, 0))
      opacity: 0

  &:hover
    .file-checkbox,
    .file-heart
      opacity: 1

    .file-utilities
      background: rgba(black, 0.4)
      
      #btn-add-to-board,
      #btn-item-menu
        +transform(translate3d(0, 0, 0))
        opacity: 1

      #btn-add-to-board
        +transition-delay(200ms)
      
      #btn-item-menu
        +transition-delay(300ms)

  &.selected
    border-color: $dk-grey

    .file-utilities
      background: rgba(black, 0.5)

    .file-checkbox
      @extend .selected

  &.show-caption
    .caption-container
      display: block

  &.show-filename
    .caption-container .filename
      display: block

.file-outer-details-view
  +clearfix()

.file-details-view
  .thumb-container
    float: left
    width: 60%
    position: relative

    img
      width: 100%

    .util-checkbox,
    .util-heart
      position: absolute
      top: 10px

    .util-checkbox
      left: 10px

    .util-heart
      right: 10px

  .caption-container
    float: left

    .caption:nth-of-type(2)
      font-size: 18px
      @extend .text-bold

    .font-wgsn
      font-size: 10px

  &:hover
    cursor: pointer