.filter-row
  .filter-tag
    background: lighten($xlt-grey, 1)
    float: left
    padding: 7px
    margin: 0 4px 8px
    +border-radius(3px)

    .icon
      margin-left: 10px
      color: $md-grey

    &:hover
      border-color: $md-grey
      background: $xlt-grey

      .icon
        color: $dk-grey

  .filter-search-tag
    background: white
    // border-color: $lt-grey

  .btn
    margin: 0 4px 8px
    float: left

    .icon
      margin: 0 6px 0 0

  &.filter-row-fixed
    background: rgba($xlt-grey, 0.9)
    position: fixed
    top: $header-height + $title-row-height + $utility-row-height
    left: $left-side-panel-width
    z-index: 100
    display: none

    &.show
      display: block

.btn-filter-row-fixed
  position: fixed
  top: 210px
  right: 10px
  background: white
  @extend .border
  @extend .flex-center
  @extend .hoverable
  z-index: 400
  width: 30px
  height: 30px
  display: none
  pointer-events: none

.files-row
  &.headroom--top
    .btn-filter-row-fixed
      display: none
      pointer-events: none

  &.headroom--not-top
    .btn-filter-row-fixed
      display: block
      pointer-events: all