.filter-row
  z-index: 100
  position: relative

  .filter-container
    width: calc(100% - 42px)
    padding-bottom: 2px

  .filter-tag
    background: white
    display: inline-block
    padding: 6px
    margin: 0 4px 8px
    +border-radius(3px)

    .icon
      margin-left: 10px
      color: $md-grey

    &:hover
      border-color: $md-grey
      background: $xlt-grey

      .icon
        color: $dk-grey

  .filter-row-controls
    height: 100%
    position: absolute
    right: 0
    top: 50%
    +transform(translate3d(0, -50%, 0))

  .btn-filter-row-expand
    color: $md-grey

    .icon
      display: block
      @extend .no-transition
      +transform(rotate(0deg))

  &.condensed
    .filter-container
      height: 48px
      overflow: hidden
      white-space: nowrap

  &.expanded
    .filter-container
      height: auto
      overflow: visible
      white-space: normal

    .btn-filter-row-expand
      .icon
        +transform(rotate(180deg))