.filter-row
  width: calc(100vw - #{$left-side-panel-width})
  
  .filter-tag
    background: lighten($lt-grey, 5)
    border: 1px solid lighten($lt-grey, 5)
    float: left
    padding: 7px
    margin: 0 4px 8px
    +border-radius(3px)

    .icon
      margin-left: 10px
      color: $md-grey

    &:hover
      background: $lt-grey

      .icon
        color: $dk-grey

  .filter-search-tag
    background: none
    border: 1px solid $lt-grey
    
    &:hover
      background: none

  .btn-save-search,
  .btn-filter-row-delete
    margin: 0 4px 8px
    
    .icon
      margin: 0 6px 0 0

  .btn-filter-row-delete
    padding: 8px 0 0 4px

  &.filter-row-fixed
    background: $xlt-grey
    +transform(translate3d(0, -100%, 0))

    &.show
      +transform(translate3d(0, 0, 0))

.filter-row-fixed-container
  overflow: hidden
  width: 100%
  position: fixed
  top: $header-height + $title-row-height + $utility-row-height
  left: $left-side-panel-width
  z-index: 100

.btn-filter-row-fixed
  position: fixed
  top: 223px
  right: 10px
  background: $xlt-grey
  padding: 5px 10px
  z-index: 400
  opacity: 0
  pointer-events: none
  +border-radius(0 0 3px 3px)

  .icon
    margin: 0 6px 0 0
    +transform(translate3d(0, 0, 0) rotate(0deg))

  &.active
    .icon
      +transform(translate3d(0, 0, 0) rotate(180deg))

.files-row
  &.headroom--top
    .btn-filter-row-fixed
      opacity: 0
      pointer-events: none

  &.headroom--not-top
    .btn-filter-row-fixed
      opacity: 1
      pointer-events: all