.floating-utility-row
  position: fixed
  bottom: 0
  right: 0
  left: 0
  background: rgba($yellow, 0.96)
  z-index: 250
  color: white
  opacity: 0
  pointer-events: none

  .displaying-results
    padding-top: 4px

  .multi-utility-icons
    position: absolute
    top: 16px
    left: 50%
    +transform(translate3d(-50%, 0, 0))

    .icon
      color: white
      font-size: 16px
      border: 1px solid transparent
      +border-radius(3px)

      &:hover
        border-color: white

.right-side-panel.has-file-selected,
.right-side-panel.has-mutliple-files-selected
  .floating-utility-row
    opacity: 1
    pointer-events: all