.floating-utility-row-container
  overflow: hidden
  position: absolute
  top: 4px
  right: 0

.floating-utility-row
  // position: absolute
  // top: 4px
  // right: 0
  color: $dk-grey
  opacity: 0
  +transform(translate3d(0, 100%, 0))
  pointer-events: none
  border-left: 1px solid rgba(white, 0.1)

  .displaying-results
    padding-top: 4px

  .icon
    color: $md-grey
    font-size: 16px
    +border-radius(3px)

    &:hover
      color: $dk-grey

  .multi-utility-icons
    // position: absolute
    margin-top: 16px
    // left: 50%
    // +transform(translate3d(-50%, 0, 0))

  .icon-cross
    position: absolute
    top: 18px

.right-side-panel.has-file-selected,
.right-side-panel.has-mutliple-files-selected
  .share-block,
  .utility-block
    opacity: 0
    pointer-events: none
    +transform(translate3d(0, -100%, 0))

  .floating-utility-row
    opacity: 1
    +transform(translate3d(0, 0, 0))
    pointer-events: all

// body.image-library-view
//   .floating-utility-row
//     background: rgba($fashion, 0.96)

// body.workspace-view,
// body.workspace-favourites-view,
// body.workspace-inbox-view,
// body.workspace-sent-messages-view
//   .floating-utility-row
//     background: rgba($yellow, 0.96)