.floating-utility-row-container
  overflow-y: hidden
  position: absolute
  top: 4px
  right: 0
  pointer-events: none

.floating-utility-row
  color: $dk-grey
  opacity: 0
  +transform(translate3d(0, 100%, 0))
  pointer-events: none
  border-left: 1px solid rgba(white, 0.1)

  .btn.select-all
    margin-top: -3px

  .displaying-results
    padding-top: 4px

  .icon
    color: $md-grey
    font-size: 16px
    +border-radius(3px)

    &:hover
      color: $dk-grey

  .multi-utility-icons
    margin-top: 16px

    .divider
      width: 1px
      height: 20px
      background: $lt-grey
      margin: -2px 10px

.right-side-panel.has-file-selected,
.right-side-panel.has-mutliple-files-selected
  .share-block,
  .utility-block
    opacity: 0
    pointer-events: none
    +transform(translate3d(0, -100%, 0))

  .floating-utility-row-container
    pointer-events: all

  .floating-utility-row
    opacity: 1
    +transform(translate3d(0, 0, 0))
    pointer-events: all