header
  position: fixed
  width: 100%
  z-index: 100
  
  .global-product-row
    background: black
    color: white
    padding: 15px
    height: $global-product-row-height

    p
      font-size: 12px
      opacity: 0.5

      span
        margin: 0 15px

    .fa
      margin: 0 6px

  .product-row
    background: white
    height: $product-row-height

    .product-logo
      height: 24px
      margin-top: 20px