// ============================================================
// TEXT
// ============================================================

input[type="text"],
textarea
  -webkit-appearance: none
  @extend .border
  background: $xlt-grey
  height: 34px
  padding: 10px
  color: $dk-grey
  font-size: 12px
  font-family: "Helvetica", sans-serif
  @extend .text-normal

  &:focus
    outline: none
    // border-color: $dk-grey
    background: rgba($xlt-grey, 0.5)

::-webkit-input-placeholder
   color: $md-grey

:-moz-placeholder
   color: $md-grey

::-moz-placeholder
   color: $md-grey

:-ms-input-placeholder
   color: $md-grey

input[type="text"]
  min-width: 300px

textarea
  background: $xlt-grey

  &:focus
    outline: none
    // border-color: $dk-grey
    background: rgba($xlt-grey, 0.5)

.input-container
  +clearfix()
  
  input
    border-right: none
    float: left

  .icon-container
    border-left: none
    height: 34px
    background: $xlt-grey
    width: 40px
    float: left
    position: relative
    @extend .flex-center
    color: $md-grey

    .fa
      +transition(all 300ms)

  input:focus
    + .icon-container
      background: rgba($xlt-grey, 0.5)

      i
        color: $dk-grey

// grey background containers
.bg-grey
  input[type="text"],
  textarea,
  .input-container .icon-container
    background: white

  input:focus
    + .icon-container
      background: white

// ============================================================
// DROPDOWN
// ============================================================

select
  // -webkit-appearance: none
  @extend .border
  background: white
  height: 34px
  padding: 10px 30px 10px 10px
  color: $dk-grey
  font-family: "Helvetica", sans-serif
  @extend .text-normal
  margin-left: 10px
  border-radius: 2px

  &:focus
    outline: none

// ============================================================
// CHECKBOX
// ============================================================

input[type="checkbox"]
  width: 14px
  height: 14px
  margin-right: 8px
  position: relative
  @extend .hoverable

  &:after
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: white
    @extend .border
    +border-radius(3px)
    @extend .text-center
    color: $dk-grey

  &:checked
    &:after
      content: "✓"

  &:focus
    outline: none


// ============================================================
// TOGGLE
// ============================================================

.toggle
  width: 20px
  height: 12px
  border-radius: 6px
  position: relative

  &:after
    content: ""
    display: block
    position: absolute
    +border-radius(50%)
    background: white
    top: 1px
    left: 1px
    width: 10px
    height: 10px
    +transform(translate3d(0, 0, 0))
    +transition(all 400ms)
    // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)

  &.toggle-off
    background: $md-grey

    &:after
      +transform(translate3d(0, 0, 0))

  &.toggle-on
    background: $yellow

    &:after
      +transform(translate3d(8px, 0, 0))