input[type="text"]
  -webkit-appearance: none
  @extend .border 
  height: 40px
  min-width: 300px
  padding: 10px
  font-family: "Helvetica", sans-serif
  @extend .text-normal
  font-size: 14px
  +transition(all 300ms)

  &:focus
    outline: none
    border-color: $yellow

.search-input
  input
    border-width: 1px 0 1px 1px
    float: left

  .icon
    border-left: none
    height: 40px
    width: 40px
    float: left
    position: relative
    padding: 10px 8px
    color: $lt-grey

    &:after
      content: ""
      position: absolute
      top: 9px
      left: 0
      width: 1px
      height: 20px
      background: $lt-grey