// ============================================================
// TEXT
// ============================================================

input[type="text"],
textarea
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  @extend .border
  background: $xlt-grey
  height: 34px
  padding: 10px
  color: $dk-grey
  font-size: 12px
  font-family: Helvetica, Arial, sans-serif
  @extend .text-normal
  +border-radius(0px)

  &:focus
    outline: none
    border-color: $md-grey
    background: lighten($xlt-grey, 2)

::-webkit-input-placeholder
   color: $md-grey

:-moz-placeholder
   color: $md-grey

::-moz-placeholder
   color: $md-grey

:-ms-input-placeholder
   color: $md-grey

// input[type="text"]
//   min-width: 300px

textarea
  background: $xlt-grey

  &:focus
    outline: none
    border-color: $md-grey
    background: lighten($xlt-grey, 2)

.input-container
  +clearfix()
  
  input
    border-right: none
    float: left
    width: 300px
    // +border-radius(3px 0 0 3px)

  .icon-container
    border-left: none
    height: 34px
    background: $xlt-grey
    width: 40px
    float: left
    position: relative
    @extend .flex-center
    color: $md-grey
    // +border-radius(0 3px 3px 0)

    .fa
      +transition(all 300ms)

  input:focus
    + .icon-container
      background: lighten($xlt-grey, 2)
      border-color: $md-grey

      i
        color: $dk-grey

// grey background containers
.bg-grey
  input[type="text"],
  textarea,
  .input-container .icon-container
    background: white

  input:focus
    border-color: $md-grey
    
    + .icon-container
      background: white
      border-color: $md-grey

// white background containers
.bg-white
  input[type="text"],
  textarea,
  .input-container .icon-container
    background: $xlt-grey

  input:focus
    background: rgba($xlt-grey, 0.5)
    border-color: $md-grey
    
    + .icon-container
      background: rgba($xlt-grey, 0.5)
      border-color: $md-grey

      i
        color: $dk-grey


// ============================================================
// DROPDOWN
// ============================================================

select
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  @extend .border
  @extend .hoverable
  background: white
  height: 34px
  padding: 10px 30px 10px 10px
  color: $dk-grey
  font-family: "Helvetica", sans-serif
  background: white url('http://dropbox.github.io/scooter/assets/images/icon-form-dropdown.svg') no-repeat right 10px center / 7px 14px
  @extend .text-normal
  margin-left: 10px
  +border-radius(3px)

  &:focus
    outline: none


// ============================================================
// LABEL
// ============================================================
label
  display: block
  margin-bottom: 5px


// ============================================================
// CHECKBOX
// ============================================================

input[type="checkbox"]
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  width: 14px
  height: 14px
  margin-right: 8px
  position: relative
  @extend .hoverable
  border: none
  box-shadow: none

  &:after
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: white
    @extend .border
    +border-radius(3px)
    @extend .text-center
    color: $dk-grey

  &:checked
    background: transparent
    
    &:after
      content: "✓"

  &:focus
    outline: none


// ============================================================
// RADIO
// ============================================================

input[type="radio"]
  appearance: none
  -moz-appearance: none
  -webkit-appearance: none
  width: 14px
  height: 14px
  margin: 0 8px 0 0
  position: relative
  @extend .hoverable
  border: none
  box-shadow: none

  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: white
    @extend .border
    +border-radius(50%)
    @extend .text-center
    color: $dk-grey

  &:after
    content: ""
    display: block
    position: absolute
    top: 4px
    left: 4px
    right: 4px
    bottom: 4px
    background: $dk-grey
    +border-radius(50%)
    opacity: 0

  &:checked
    background: transparent
    
    &:after
      opacity: 1

  &:focus
    outline: none

  &:last-of-type
    margin: 0 8px 0 0


// ============================================================
// TOGGLE
// ============================================================

.toggle
  width: 20px
  height: 12px
  border-radius: 6px
  position: relative

  &:after
    content: ""
    display: block
    position: absolute
    +border-radius(50%)
    background: white
    top: 1px
    left: 1px
    width: 10px
    height: 10px
    +transform(translate3d(0, 0, 0))
    +transition(all 400ms)
    // box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)

  &.toggle-off
    background: $md-grey

    &:after
      +transform(translate3d(0, 0, 0))

  &.toggle-on
    background: $yellow

    &:after
      +transform(translate3d(8px, 0, 0))

body.product-fashion
  .toggle.toggle-on
    background: $fashion

body.product-none
  .toggle.toggle-on
    background: $yellow