#item-detail-modal
  position: absolute
  top: 50%
  left: 50%
  width: calc(100% - 80px)
  height: calc(100% - 40px)
  background: white
  @extend .box-shadow
  z-index: 380
  opacity: 0
  +transform(translate3d(-50%, calc(-50% + 20px), 0))
  +transition(all 300ms)
  pointer-events: none

  &.show
    opacity: 1
    +transform(translate3d(-50%, -50%, 0))
    pointer-events: all

  
  //- ============================================================
  //- MODAL CONTROLS
  //- ============================================================

  .modal-controls
    .icon-angle-left,
    .icon-angle-right
      position: absolute
      color: white
      font-size: 16px
      top: 50%
      +transform(translate3d(0, -50%, 0))

    .icon-angle-left
      left: -24px

    .icon-angle-right
      right: -24px

  
  //- ============================================================
  //- PANELS
  //- ============================================================

  .modal-info-panel,
  .modal-image-panel,
  .modal-tool-panel
    position: absolute
    top: 0
    bottom: 0

  $modal-info-panel-width: 480px
  $modal-tool-panel-width: 50px

  
  //- ============================================================
  //- INFO PANEL
  //- ============================================================

  .modal-info-panel
    left: 0
    width: $modal-info-panel-width
    display: none

    // top section
    .modal-section-caption
      ul
        .modal-file-name
          font-size: 20px

    // bottom section
    .modal-section-other
      .modal-tabs
        .tab
          height: 40px
          @extend .flex-center
          @extend .no-transition

          &.active
            background: white
            border-bottom-color: transparent
      
      .modal-comments        
        .comment
          overflow: auto

          &:last-of-type
            border: none

          .text
            float: left
            width: calc(100% - 42px)

            .comment-time
              font-size: 11px
              color: $md-grey

        .comment-input
          position: absolute
          bottom: 0
          left: 0
          width: 100%

          textarea
            width: 100%
            height: 80px

      .modal-related-images
        .img
          width: 100px
          height: 100px
          background: white no-repeat center / contain

      .modal-related-reports
        .related-report
          width: 50%
          
          .img
            width: 100%
            height: 140px
            background: white no-repeat center / cover

      // tabs show/hide
      &.show-comments
        .btn-modal-show-comments
          @extend .active

        .modal-comments
          display: block

        .modal-related-images,
        .modal-related-reports
          display: none

      &.show-related-images
        .btn-modal-show-related-images
          @extend .active

        .modal-related-images
          display: block

        .modal-comments,
        .modal-related-reports
          display: none

      &.show-related-reports
        .btn-modal-show-related-reports
          @extend .active

        .modal-related-reports
          display: block

        .modal-comments,
        .modal-related-images
          display: none

  
  //- ============================================================
  //- IMAGE PANEL
  //- ============================================================

  .modal-image-panel
    background: $dk-grey
    left: 0
    right: $modal-tool-panel-width

    .img
      width: 100%
      height: 100%
      background: no-repeat center / contain
      @extend .no-transition

    .btn-modal-left-side-panel
      position: absolute
      background: white
      border-left: none
      left: -1px
      top: 20px
      width: 12px
      height: 40px
      padding: 12px 0
      color: $dk-grey
      font-size: 10px
      border-radius: 0 2px 2px 0

      .icon
        display: block
        +transform(translate3d(0, 0, 0) rotate(180deg))
        @extend .no-transition

    .file-heart,
    .btn-close-fullscreen
      position: absolute
      top: 15px
      right: 15px
      color: white
      font-size: 16px
      @extend .no-transition

    .icon-heart
      opacity: 1
      color: $label-red !important

    .btn-close-fullscreen
      font-size: 20px
      opacity: 0
      pointer-events: none

    // MODAL PAGE CONTROLS (for reports) & ZOOM CONTROLS (for images)
    .modal-page-controls,
    .modal-zoom-controls
      position: absolute
      display: none
      opacity: 0

    .modal-page-controls
      bottom: 0
      left: calc(50% - 40px)

    .modal-zoom-controls
      bottom: 0
      right: 10px

    .modal-page-left,
    .modal-page-right,
    .modal-zoom-in,
    .modal-zoom-out
      color: white
      font-size: 16px
      background: rgba(black, 0.2)
      width: 40px
      height: 40px
      padding: 11px 12px
      @extend .inline-block

      &:hover
        background: rgba(black, 0.4)

    &:hover
      .modal-page-controls,
      .modal-zoom-controls
        opacity: 1
  
  //- ============================================================
  //- TOOL PANEL
  //- ============================================================

  .modal-tool-panel
    right: 0
    width: $modal-tool-panel-width

    .btn-modal-tool
      font-size: 16px
      
      .icon
        color: $md-grey
      
      &:hover
        .icon
          color: $dk-grey

      &.active
        background: $dk-grey

        .icon
          color: white

    .item-count
      position: absolute
      bottom: 10px
      right: 0
      width: 100%
      font-size: 12px

  
  //- ============================================================
  //- TOGGLE INFO PANEL
  //- ============================================================

  &.show-left-side-panel
    .modal-info-panel
      display: block

    .modal-image-panel
      left: $modal-info-panel-width

    .btn-modal-left-side-panel
      .icon
        +transform(translate3d(0, 0, 0) rotate(0deg))


  //- ============================================================
  //- FULLSCREEN
  //- ============================================================

  &.fullscreen
    width: 100vw
    height: 100vh

    .modal-info-panel,
    .btn-modal-left-side-panel,
    .modal-tool-panel
      display: none

    .modal-image-panel
      left: 0
      right: 0

    .btn-close-fullscreen
      opacity: 1
      pointer-events: all

    .file-heart
      opacity: 0 !important
      pointer-events: none

  .modal-overlay
    position: absolute
    top: 0
    right: $modal-tool-panel-width
    left: 0
    bottom: 0
    background: rgba(black, 0.7)
    pointer-events: none
    z-index: 390
    opacity: 0

    &.show
      opacity: 1
      pointer-events: all


  //- ============================================================
  //- FILE TYPES
  //- ============================================================

  &.file-type-image
    .modal-info-panel-video,
    .modal-info-panel-report,
    .modal-info-panel-color-card,
    .btn-page-list
      display: none

    $modal-info-caption-height: 222px

    .modal-section-caption
      height: $modal-info-caption-height

    .modal-scroll-container
      overflow-y: auto
      height: calc((100vh - 60px) - #{$modal-info-caption-height} - 20px - 15px) // height of modal - caption - tabs - comment input - borders
    
    .modal-comments
      .modal-scroll-container
        height: calc((100vh - 60px) - #{$modal-info-caption-height} - 40px - 84px - 15px) // height of modal - caption - tabs - comment input - borders

    .modal-zoom-controls
      display: block

  &.file-type-report
    .modal-info-panel-image,
    .modal-info-panel-video,
    .modal-info-panel-color-card,
    .btn-crop
      display: none

    $modal-info-caption-height: 166px

    .modal-section-caption
      height: $modal-info-caption-height

    .modal-scroll-container
      overflow-y: auto
      height: calc((100vh - 60px) - #{$modal-info-caption-height} - 20px - 15px) // height of modal - caption - tabs - comment input - borders
    
    .modal-comments
      .modal-scroll-container
        height: calc((100vh - 60px) - #{$modal-info-caption-height} - 40px - 84px - 15px) // height of modal - caption - tabs - comment input - borders
    
    .modal-page-controls
      display: block

  &.file-type-video
    .modal-info-panel-image,
    .modal-info-panel-report,
    .modal-info-panel-color-card,
    .btn-print,
    .btn-crop,
    .btn-download,
    .btn-page-list
      display: none

    $modal-info-caption-height: 142px

    .modal-section-caption
      height: $modal-info-caption-height

    .modal-scroll-container
      overflow-y: auto
      height: calc((100vh - 60px) - #{$modal-info-caption-height} - 20px - 15px) // height of modal - caption - tabs - comment input - borders
    
    .modal-comments
      .modal-scroll-container
        height: calc((100vh - 60px) - #{$modal-info-caption-height} - 84px - 15px) // height of modal - caption - tabs - comment input - borders

    .modal-image-panel
      &:after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        background: url('http://www.wgsn.com/assets/common/images/play_button.png') no-repeat center / 100%
        display: block
        width: 80px
        height: 80px
        +transform(translate3d(-50%, -50%, 0))
        @extend .hoverable