#item-detail-modal
  position: absolute
  // top: 40px
  // left: 30px
  // width: calc(100vw - 60px)
  // height: calc(100vh - 60px)
  top: 20px
  left: 20px
  width: calc(100vw - 40px)
  height: calc(100vh - 40px)
  background: white
  @extend .box-shadow
  z-index: 380
  opacity: 0
  +transform(translate3d(0, 5%, 0))
  +transition(all 300ms)
  pointer-events: none

  &.show
    opacity: 1
    +transform(translate3d(0, 0, 0))
    pointer-events: all

  .modal-controls
    .icon-cross,
    .icon-angle-left,
    .icon-angle-right
      position: absolute
      color: white
      font-size: 16px

      &:hover
        cursor: pointer

    .icon-cross
      top: -24px
      right: 0

    .icon-angle-left
      top: 50%
      left: -24px

    .icon-angle-right
      top: 50%
      right: -24px

  .modal-info-panel,
  .modal-image-panel,
  .modal-tool-panel
    position: absolute
    top: 0
    bottom: 0

  $modal-info-panel-width: 480px
  $tool-info-panel-width: 50px
  $modal-info-caption-height: 222px

  .modal-info-panel
    left: 0
    width: $modal-info-panel-width
    display: none

    .modal-section-caption
      height: $modal-info-caption-height
      
      ul
        .modal-file-name
          font-size: 20px

    .modal-section-other
      .modal-tabs
        .block-sm
          height: 40px

          &.active
            background: white
            border-bottom-color: transparent
      
      .modal-scroll-container
        overflow-y: scroll
        height: calc((100vh - 60px) - #{$modal-info-caption-height} - 40px - 15px) // height of modal - caption - tabs - comment input - borders
      
      .modal-comments
        .modal-scroll-container
          height: calc((100vh - 60px) - #{$modal-info-caption-height} - 40px - 104px - 15px) // height of modal - caption - tabs - comment input - borders
        
        .comment
          overflow: auto

          &:last-of-type
            border: none
          
          .avatar
            float: left
            width: 32px
            height: 32px
            background: $md-grey no-repeat center / cover
            color: white
            border-radius: 50%
            @extend .flex-center
            @extend .font-wgsn
            font-size: 10px

          .text
            float: left
            width: calc(100% - 42px)

            .comment-time
              font-size: 11px
              color: $md-grey

        .comment-input
          position: absolute
          bottom: 0
          left: 0
          width: 100%

          textarea
            width: 100%
            height: 80px

      .modal-related-images
        .img
          width: 100px
          height: 100px
          background: white no-repeat center / contain

      .modal-related-reports
        .img
          width: 212px
          height: 140px
          background: white no-repeat center / cover

      &.show-comments
        .btn-modal-show-comments
          @extend .active

        .modal-comments
          display: block

        .modal-related-images,
        .modal-related-reports
          display: none

      &.show-related-images
        .btn-modal-show-related-images
          @extend .active

        .modal-related-images
          display: block

        .modal-comments,
        .modal-related-reports
          display: none

      &.show-related-reports
        .btn-modal-show-related-reports
          @extend .active

        .modal-related-reports
          display: block

        .modal-comments,
        .modal-related-images
          display: none

  .modal-image-panel
    background: $dk-grey
    left: 0
    right: $tool-info-panel-width

    .img
      width: 100%
      height: 100%
      background: no-repeat center / contain

    .btn-modal-left-side-panel
      position: absolute
      background: white
      border-left: none
      left: -1px
      top: 20px
      width: 12px
      height: 40px
      padding: 12px 0
      color: $dk-grey
      font-size: 10px
      border-radius: 0 2px 2px 0

      .icon
        display: block
        +transform(translate3d(0, 0, 0) rotate(180deg))
        @extend .no-transition

    .file-heart
      position: absolute
      top: 15px
      right: 15px
      color: white
      font-size: 16px
      @extend .no-transition

    .icon-heart
      opacity: 1 !important
      color: $label-red !important

    .modal-arrow-left,
    .modal-arrow-right
      position: absolute
      top: calc(50% - 20px)
      color: white
      font-size: 16px
      background: rgba(black, 0.2)
      @extend .flex-center
      width: 40px
      height: 40px

      &:hover
        background: rgba(black, 0.4)

    .modal-arrow-left
      left: 0

    .modal-arrow-right
      right: 0

  .modal-tool-panel
    right: 0
    width: $tool-info-panel-width

    .btn-modal-tool
      font-size: 16px
      
      &:hover
        background: $xlt-grey

    .item-count
      position: absolute
      bottom: 10px
      right: 0
      width: 100%
      font-size: 12px

  &.show-left-side-panel
    .modal-info-panel
      display: block

    .modal-image-panel
      left: $modal-info-panel-width

    .btn-modal-left-side-panel
      .icon
        +transform(translate3d(0, 0, 0) rotate(0deg))