.left-side-panel
  width: $left-side-panel-width
  height: calc(100vh - #{$header-height} - #{$title-row-height} + #{$product-row-height})
  position: absolute
  top: 0
  left: 0
  overflow: hidden
  display: none
  z-index: 300
  background: $dk-grey
  color: rgba(white, 0.5)

  .scroll-container
    height: 100%
    overflow-y: auto
  
  .icon
    margin: 0 10px 0 0

  .tabs
    position: relative
    height: 56px
    border-bottom: 1px solid rgba(white, 0.1)

    .col-xs-6:first-of-type
      .tab
        &:after
          content: ""
          display: block
          position: absolute
          bottom: 0
          left: 0
          background: $fashion
          width: 100%
          height: 4px
          +transform(translate3d(0, 0, 0))
          +transition(all 400ms)

        &:not(.active)
          &:after
            +transform(translate3d(100%, 0, 0))

    .tab
      height: 56px
      @extend .flex-center
      @extend .no-transition

      // span
      //   @extend .no-transition

      &.active
        // border-bottom: 4px solid $fashion
        color: $fashion

  .inbox-number
    background: $yellow
    color: white
    @extend .font-wgsn
    border-radius: 50%
    width: 16px
    height: 16px
    margin: 1px
    @extend .flex-center

  .header-row
    padding: 10px 12px
    display: block
    background: rgba(white, 0.1)

    .icon-angle-up
      margin: 0
      +transform(translate3d(0, 0, 0) rotate(0deg))
      @extend .no-transition

    &.closed
      .icon-angle-up
        +transform(translate3d(0, 0, 0) rotate(-180deg))

  .btn-sent-messages
    .icon-arrow-right
      font-size: 0.5em
      position: absolute
      top: 12px
      left: 24px

  .panel-filters,
  .panel-folders
    height: calc(100% - 56px)
    position: relative

    .board-preview
      position: fixed
      bottom: 0
      left: 0
      width: calc(#{$left-side-panel-width} - 1px)
      height: 330px
      background: $dk-grey
      color: white
      border-top: 1px solid rgba(white, 0.1)

      .icon-double-angle-down
        margin: 0
        +transform(translate3d(0, 0, 0) rotate(0deg))

      &.closed
        +transform(translate3d(0, 294px, 0))

        .icon-double-angle-down
          +transform(translate3d(0, 0, 0) rotate(180deg))

      &.open
        +transform(translate3d(0, 0, 0))

        .icon-double-angle-down
          +transform(translate3d(0, 0, 0) rotate(0deg))

      .scroll-container
        height: 294px
        overflow: auto

        .img
          width: 68px
          height: 68px
          background: no-repeat center / contain
          margin: 2px

  .panel-filters
    .scroll-container
      height: calc(100% - 51px)
    
    .filter-btn
      position: relative

      &:hover
        background: rgba($lt-grey, 0.15)

      &.active
        background: rgba($lt-grey, 0.3)

        &:hover
          background: rgba($lt-grey, 0.4)
        
        span, i
          color: $fashion

        &:after
          content: ""
          position: absolute
          top: 0
          right: -1px
          background: white
          height: 100%
          width: 1px

  .panel-folders
    display: none

    .scroll-container
      height: calc(100% - 35px)

    &.board-preview-open
      > .scroll-container
        height: calc(100% - 330px)

  // tabs show/hide
  &.image-library-filters-active
    .panel-filters
      display: block

    .panel-folders
      display: none

  &.image-library-folders-active
    .panel-filters
      display: none

    .panel-folders
      display: block

// active states
body.workspace-view-autumn-winter-2016
  a.board-row.autumn-winter-2016
    @extend .active

body.workspace-view-balmain-2016
  a.board-row.balmain-2016
    @extend .active

body.workspace-inbox-view
  .left-side-panel
    .btn-inbox
      @extend .active

body.workspace-sent-messages-view
  .left-side-panel
    .btn-sent-messages
      @extend .active

body.workspace-favourites-view
  .left-side-panel
    .btn-favourites
      @extend .active