.left-side-panel
  width: 270px
  height: calc(100vh - 163px)
  float: left
  overflow: scroll
  
  .fa
    margin: 0 10px 0 0

  .inbox-number
    background: black
    color: white
    border-radius: 50%
    width: 16px
    height: 16px
    font-size: 0.8em
    text-shadow: 0 0 1px white
    margin: 3px

  .item
    ul
      li
        padding: 5px 10px
        border-bottom: 1px solid rgba(black, 0.2)

        &:first-of-type,
        &:last-of-type
          border: none

        @for $i from 1 through 4
          &.level-#{$i}
            margin-left: 20px * ($i - 1)