.messages-row
  overflow: auto
  width: 100%
  height: calc(100% - #{$utility-row-height})
  
  .header-row
    width: 100%
    @extend .bg-grey
    @extend .border-bottom
    @extend .font-wgsn

  .message
    .unread-dot
      width: 10px
      height: 10px
      background: $yellow
      +border-radius(50%)
      margin: 11px 11px 11px 0

    .avatar
      width: 32px
      height: 32px
      background: $md-grey no-repeat center / cover
      @extend .border
      color: white
      +border-radius(50%)
      @extend .flex-center
      @extend .font-wgsn
      font-size: 10px

    .message-time
      font-size: 10px

    .icon-trash,
    .icon-share-right
      color: $md-grey
      opacity: 0

      &:hover
        color: $dk-grey

    .message-content-container
      overflow: hidden
      height: 0

      .message-content
        height: auto
        opacity: 1

        .message-message
          max-width: 800px
          display: inline-block

        > .block-sm
          border-top: 1px solid rgba($lt-grey, 0.25)

        .message-utility-row
          .multi-utility-icon
            color: $lt-grey
            pointer-events: none
            margin: 0 6px

            .tooltip
              top: 28px

            &:hover
              .tooltip
                opacity: 1
                +transition-delay(200ms)

          .icon-paper-plane
            margin: 0 0 0 6px

        .message-files-row
          .files-container[min-width~="0px"]
            .file-outer
              width: calc(100% / 4)

          .files-container[min-width~="1000px"]
            .file-outer
              width: calc(100% / 5)

          .files-container[min-width~="1200px"]
            .file-outer
              width: calc(100% / 6)

          .files-container[min-width~="1400px"]
            .file-outer
              width: calc(100% / 7)

          .files-container[min-width~="1600px"]
            .file-outer
              width: calc(100% / 8)

          .files-container[min-width~="1800px"]
            .file-outer
              width: calc(100% / 9)

          .files-container[min-width~="2000px"]
            .file-outer
              width: calc(100% / 10)

          .thumb-inner,
          .file-utilities
            height: 150px

    &:hover
      .icon-trash,
      .icon-share-right
        opacity: 1

    &.message-closed
      .message-content-container
        border-color: transparent
        
        .message-content
          opacity: 0

.right-side-panel.has-file-selected
  .messages-row .message .message-content-container .message-content .message-utility-row .multi-utility-icon
    color: $md-grey
    pointer-events: all

    &:hover
      color: $dk-grey