.overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  background: rgba(black, 0.8)
  pointer-events: none
  z-index: 350
  opacity: 0

  &.show
    opacity: 1
    pointer-events: all

.modal
  position: fixed
  top: 50%
  left: 50%
  width: 580px
  min-height: 100px
  background: white
  @extend .box-shadow
  +transform(translate3d(-50%, calc(-50% + 20px), 0))
  +transition(all 300ms)
  z-index: 400
  opacity: 0
  pointer-events: none

  .modal-header
    background: $xdk-grey
    color: white
    @extend .block-sm
    overflow: auto
    vertical-align: bottom

    p
      margin: 4px 0 0 6px

    .icon-cross
      font-size: 18px
      opacity: 0.6

      &:hover
        opacity: 1

  .modal-content
    @extend .block-sm

  .modal-footer
    @extend .block-hor-sm
    @extend .block-bot-sm
    overflow: auto

  &.show
    opacity: 1
    pointer-events: all
    +transform(translate3d(-50%, -50%, 0))


// ==================================================
// SHARE
// ==================================================

#share-modal
  .input-container
    width: calc(100% - 89px)
    
    input[type="text"],
    .icon-container
      border: none

    input[type="text"]
      width: calc(100% - 40px)
  
  .permission-dropdown
    height: 100%
    min-height: 40px

  .share-user-container
    height: 36vh
    min-height: 100px
    max-height: 400px
    overflow: scroll
    
    .share-user
      padding: 2px
      
      .avatar
        margin-top: 4px

      &:last-of-type
        border: none

    #make-folder-public:hover
      .tooltip
        opacity: 1


// ==================================================
// ADD, MOVE & COPY
// ==================================================

#add-to-board-modal,
#move-modal,
#copy-modal
  img
    width: 150px
    margin-right: 15px

  textarea
    width: calc(100% - 165px)
    height: 226px

  &.add-multiple-files
    img
      display: none
    textarea
      width: 100%
      height: 120px


// ==================================================
// SEND
// ==================================================

#send-modal
  input[type="text"]
    width: 100%

  // .image-preview
  //   width: 220px
  //   height: 220px
  //   background: white no-repeat center / contain

  // .block-left-sm
  //   width: calc(100% - 220px)

  textarea
    width: 100%
    height: 171px


// ==================================================
// PRINT
// ==================================================

#print-modal
  .print-layout-tile
    width: 100px

    .layout-tile-container
      width: 100px
      height: 100px
      border: 1px solid $lt-grey
      padding: 4px
      margin: 0 0 6px 0

      .block
        background: $lt-grey
        @extend .pull-left

    &.active
      .layout-tile-container
        border-color: $xdk-grey

        .block
          background: $xdk-grey

    &.pp-1
      .block
        width: 100%
        height: 100%

    &.pp-2
      .block
        width: calc(50% - 2px)
        height: 100%
        
        &:nth-of-type(1)
          margin: 0 4px 0 0

    &.pp-3
      .block
        width: calc((97% / 3) - 2px)
        height: 100%
        
        &:nth-of-type(1),
        &:nth-of-type(2)
          margin: 0 4px 0 0

    &.pp-4
      .block
        width: calc(50% - 2px)
        height: calc(50% - 2px)
        
        &:nth-of-type(1)
          margin: 0 4px 4px 0

        &:nth-of-type(2)
          margin: 0 0 4px 0

        &:nth-of-type(3)
          margin: 0 4px 0 0

        &:nth-of-type(4)
          margin: 0 0 0 0

    &.pp-thumbnails
      .block
        width: calc((97%/3) - 2px)
        height: calc((97%/3) - 2px)
        
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(4),
        &:nth-of-type(5)
          margin: 0 4px 4px 0

        &:nth-of-type(3),
        &:nth-of-type(6)
          margin: 0 0 4px 0

        &:nth-of-type(7),
        &:nth-of-type(8)
          margin: 0 4px 0 0

  input[type="text"]
    width: 300px


// ==================================================
// SIMPLE MODALS
// ==================================================

.simple-modal
  width: 400px

  input[type="text"]
    width: 100%