.page-content
  position: absolute
  width: 100%

  .right-side-panel
    left: 0
    right: 0

  &.show-left-side-panel
    .right-side-panel,
    .floating-utility-row
      left: $left-side-panel-width

    .left-side-panel
      display: block

    .filter
      display: block

    .btn-left-side-panel 
      .icon
        +transform(translate3d(0, 0, 0) rotate(0deg))

  &.show-comments-panel
    .right-side-panel
      right: $comments-panel-width

    .comments-panel
      display: block

body.workspace-view,
body.image-library-view,
body.workspace-inbox-view,
body.workspace-sent-messages-view,
body.workspace-favourites-view
  .page-content
    top: $header-height - $product-row-height + $title-row-height