.right-side-panel
  width: 100%
  height: calc(100vh - 169px)
  float: left
  overflow: scroll

  .utility-row
    z-index: 100
    
    .fa
      margin: 0 6px

      &:hover
        cursor: pointer

    .fa-square-o,
    .fa-check-square-o
      margin: 0 6px 0 0

  .files-row
    position: absolute
    top: 57px
    width: 100%
    height: 100%
    overflow: scroll

    .files-container
      +clearfix()