.right-side-panel
  width: calc(100% - 270px)
  float: left

  &.view-tiles-sm
    .file-outer
      @extend .col-xs-2

      .thumb-inner
        height: calc((100vw - 310px) / 6)

  &.view-tiles-md
    .file-outer
      @extend .col-xs-3

      .thumb-inner
        height: calc((100vw - 310px) / 4)

  &.view-tiles-lg
    .file-outer
      @extend .col-xs-6

      .thumb-inner
        height: calc((100vw - 310px) / 2)