.title-row
  .icon-bookmark
    font-size: 16px

    &:before
      top: -1px

#saved-searches-context-menu
  &:after
    @extend .bg-grey

  .icon-bookmark
    color: $fashion

  .header-row
    @extend .block-sm
    
    &:hover
      @extend .bg-grey
      cursor: default

  .scroll-container
    max-height: 400px
    overflow: auto

    li
      @extend .block-sm
      position: relative

      &:last-of-type
        border: none

      .icon-angle-right
        margin: 0 6px
        font-size: 10px 

      .icon-trash
        position: absolute
        top: calc(50% - 8px)
        right: 10px
        color: $md-grey
        opacity: 0

        &:hover
          color: $dk-grey

      &:hover
        .icon-trash
          opacity: 1