.share-block
  margin-top: 3px
  
  .avatar
    &.online:after
      content: ""
      position: absolute
      display: block
      border-radius: 50%
      bottom: -3px
      left: -3px
      width: 10px
      height: 10px
      background: $label-green
      border: 1px solid $xlt-grey
    
    @media screen and (max-width: 1400px)
      &:nth-last-of-type(2)
        display: none

    @media screen and (max-width: 1360px)
      &:nth-last-of-type(3)
        display: none

    @media screen and (max-width: 1320px)
      &:nth-last-of-type(4)
        display: none

    @media screen and (max-width: 1300px)
      display: none !important

  .divider
    width: 1px
    height: 34px
    background: $lt-grey
    margin: 3px 10px 0 0

    @media screen and (max-width: 1300px)
      display: none

  // adjusted to account for the 10px space on the right of the avatars
  .tooltip-down
    &:before
      +transform(translate3d(calc(-50% - 5px), 0, 0) rotate(45deg))
    
    &:after
      +transform(translate3d(calc(-50% - 5px), 0, 0))