ul.tagit
  @extend .border
  background: $xlt-grey
  color: $dk-grey
  // font-size: 12px
  padding: 5px
  margin: 0
  min-height: 44px
  +border-radius(3px)

  &:hover
    cursor: text

  li.tagit-choice
    @extend .pull-left
    @extend .no-transition
    display: block
    background: lighten($lt-grey, 5)
    border: 1px solid lighten($lt-grey, 5)
    padding: 6px 24px 5px 10px
    margin: 2px 5px 2px 0
    +border-radius(3px)

    a.tagit-close
      @extend .hoverable
      display: block
      position: absolute
      top: calc(50% - 7px)
      right: 5px
      margin: 0 // delete when tagit.css is gone
      line-height: 17px // delete when tagit.css is gone

    &.ui-state-highlight.remove
      background: $lt-grey

  li.tagit-new
    input
      height: auto
      width: auto
      padding: 3px 5px

ul.tagit-autocomplete
  @extend .no-transition
  @extend .border
  list-style: none
  position: absolute
  z-index: 1000
  background: white
  padding: 0
  margin: 10px 0 0 0

  li
    @extend .tight
    padding: 6px 12px

    &.ui-state-focus
      background: $xlt-grey