.title-row
  position: fixed
  width: 100%
  height: $title-row-height
  z-index: 100

  .block-xs
    height: 100%

  .title-block
    padding-top: 18px
    
    .board-name
      border: 1px solid transparent
      border-radius: 2px
      position: relative

      .icon-caret-down
        margin-left: 6px
        color: $md-grey

      &:hover
        border-color: $lt-grey

    .icon-angle-right
      font-size: 10px
      color: $md-grey

  .search-block
    margin-top: 3px

  .btn-comments-panel
    width: 60px
    font-size: 18px

  .btn-save-search
    padding: 10px 12px 9px

body.image-library-view
  .title-row
    top: $header-height

body.workspace-view
  .title-row
    top: $header-height - $product-row-height