.title-row
  position: fixed
  width: 100%
  height: $title-row-height
  z-index: 100

  .block-xs
    height: 100%

  .title-block
    // width: calc(60% - 30px)
    padding-top: 19px

    p
      font-size: 14px

      .fa
        margin: 0 10px
        color: $md-grey

  // .share-block
  //   width: calc(40% - 30px)

  .search-block
    margin-top: 3px

  #btn-comments-panel
    width: 60px
    font-size: 18px

  #btn-save-search
    padding: 10px 12px 9px

body.image-library-view
  .title-row
    top: $header-height

body.workspace-view
  .title-row
    top: $header-height - $product-row-height