.utility-row
  z-index: 110
  height: $utility-row-height

  .utility-block
    position: relative
    @extend .inline-block
    margin: 4px 10px

    &.divider
      width: 1px
      height: 30px
      background: $lt-grey
      padding: 0
      margin: -10px 10px

  .icon-plus-circle,
  .icon-download,
  .icon-print,
  .icon-paper-plane,
  .icon-trash,
  .icon-ellipsis,
  .icon-gear
    font-size: 15px

    &:before
      top: 3px

  .multi-utility-icon
    color: $lt-grey
    pointer-events: none
    margin: 0 6px

    .tooltip
      top: 28px

    &:hover
      .tooltip
        opacity: 1
        +transition-delay(200ms)

  .icon-plus-circle
    margin: 0 6px 0 0

  .icon-trash
    margin: 0 0 0 6px

  .divider
    color: $lt-grey

  .input-container
    input
      width: 300px
      min-width: 100px
      max-width: 300px

  .btn-view-option
    padding: 5px 10px
    margin-left: -1px
    @extend .inline-block
    @extend .hoverable
    @extend .border
    
    &:first-of-type
      +border-radius(3px 0 0 3px)

    &:last-of-type
      +border-radius(0 3px 3px 0)

    &:hover
      background: $xlt-grey

    &.disabled
      opacity: 1

      .icon
        opacity: 0.3

  .sort-input
    +border-radius(3px)
    padding: 8px

    .icon
      margin: 0 0 0 15px

    // &:hover
    //   border-color: $xdk-grey

.utility-row[min-width~="0px"]
  .multi-utility-icon
    display: none

  .displaying-results,
  .divider
    display: none

.utility-row[min-width~="1000px"]
  .displaying-results,
  .divider
    display: inline-block

.utility-row[min-width~="1200px"]
  .multi-utility-icon
    display: inline-block

  .icon-ellipsis
    display: none

.right-side-panel
  &.has-file-selected,
  &.has-multiple-files-selected
    .multi-utility-icon
      color: $md-grey
      pointer-events: all

      &:hover
        color: $xdk-grey