.utility-row
  z-index: 100
  
  .fa
    margin: 0 6px

    &:hover
      cursor: pointer

  .fa-square-o,
  .fa-check-square-o
    margin: 0 6px 0 0

  .search-input
    input
      width: calc(100% - 60px)
      min-width: 100px
      max-width: 300px

.utility-row[min-width~="0px"]
  .multi-utility-icon
    display: none

  .block-inline:nth-of-type(1),
  .block-inline:nth-of-type(2)
    display: none

.utility-row[min-width~="1000px"]
  .block-inline:nth-of-type(1),
  .block-inline:nth-of-type(2)
    display: inline-block

.utility-row[min-width~="1200px"]
  .multi-utility-icon
    display: inline-block

  .fa-ellipsis-h
    display: none

body.image-library-view
  .utility-row
    .fa-trash
      display: none