.view-options
  .content-wrap
    max-width: none

  .view-option-btns
    list-style: none
    margin: 0
    padding: 0

    li
      float: left
      margin: 0 20px 0 0
      padding: 2px 6px 0
      border-radius: 3px

      &:hover
        cursor: pointer

      &.active
        background: $lt-grey

  .file-tile
    width: 100%

  &.view-small
    .tile
      width: calc((100% - 100px) / 5)

  &.view-medium
    .tile
      width: calc((100% - 60px) / 3)

      .file
        height: 400px

  &.view-large
    .tile
      width: calc((100% - 40px) / 2)

      .file
        height: 500px