.right-side-panel
  
  // VIEW TILES SMALL
  &.view-tiles-sm
    .file-outer
      @media screen and (min-width: 0)
        width: calc(100% / 5)

      @media screen and (min-width: 1000px)
        width: calc(100% / 6)

      @media screen and (min-width: 1200px)
        width: calc(100% / 7)

      @media screen and (min-width: 1400px)
        width: calc(100% / 8)

      @media screen and (min-width: 1600px)
        width: calc(100% / 9)

      @media screen and (min-width: 1800px)
        width: calc(100% / 10)

      @media screen and (min-width: 2000px)
        width: calc(100% / 11)

      .thumb-inner
        height: 150px

  // VIEW TILES MED
  &.view-tiles-md
    .file-outer
      @media screen and (min-width: 0)
        width: calc(100% / 3)

      @media screen and (min-width: 1000px)
        width: calc(100% / 4)

      @media screen and (min-width: 1200px)
        width: calc(100% / 5)

      @media screen and (min-width: 1400px)
        width: calc(100% / 6)

      @media screen and (min-width: 1600px)
        width: calc(100% / 7)

      @media screen and (min-width: 1800px)
        width: calc(100% / 8)

      @media screen and (min-width: 2000px)
        width: calc(100% / 9)

      .thumb-inner
        height: 200px

  // VIEW TILES LARGE
  &.view-tiles-lg
    .file-outer
      @media screen and (min-width: 0)
        width: calc(100% / 2)

      @media screen and (min-width: 1000px)
        width: calc(100% / 3)

      @media screen and (min-width: 1300px)
        width: calc(100% / 4)

      @media screen and (min-width: 1600px)
        width: calc(100% / 5)

      @media screen and (min-width: 1900px)
        width: calc(100% / 6)

      @media screen and (min-width: 2200px)
        width: calc(100% / 7)

      @media screen and (min-width: 2500px)
        width: calc(100% / 8)

      .thumb-inner
        height: 300px

  // VIEW TILES DETAILS
  &.view-tiles-details
    .files-row
      width: 800px
      margin-left: calc(((100vw - 270px) - 800px) / 2)

      $details-image-width: 500px

      .file-outer
        width: 100%
        height: $details-image-width
        margin: 0 0 20px

        .file-container
          height: $details-image-width
        
        .file
          height: $details-image-width
          border: none

          &.original-artwork:after
            bottom: -1px

        .thumb-container
          position: absolute
          top: 0
          left: 0
          width: $details-image-width
          @extend .border

          .thumb-inner
            height: $details-image-width

        .caption-container
          position: absolute
          top: 0
          right: 0
          width: 800px - $details-image-width - 50px

          li
            font-size: 18px

        .menu-btn
          display: none

        .file-utilities
          .util-heart
            right: 270px