.page-content
  position: absolute
  width: 100%

  .right-side-panel
    left: 0
    right: 0

  &.show-left-side-panel
    .right-side-panel
      left: $left-side-panel-width

    .left-side-panel
      display: block

  &.show-comments-panel
    .right-side-panel
      right: $comments-panel-width

    .comments-panel
      display: block

body.image-library-view
  .page-content
    top: $header-height + $title-row-height

body.workspace-view
  .page-content
    top: $header-height - $product-row-height + $title-row-height