// core
@import "vars"
@import "mixins"
@import "blocks"
@import "common-styles"
@import "typography" 
@import "grid"
@import "inputs"

// elements
@import "header"
@import "file"
@import "context-menus"
@import "title-row"
@import "share-block"
@import "page-content"
@import "left-side-panel"
@import "right-side-panel"
@import "utility-row"
@import "comments-panel"
@import "view-tiles-options"
@import "item-detail-modal"
@import "modal"
@import "filter"
@import "headroom"

// ==================================================

body
  font-family: "Helvetica", sans-serif
  margin: 0
  padding: 0
  background: white
  font-size: 14px

  .content-wrap
    width: 80%
    max-width: 1500px
    margin: 0 auto

  section
    overflow: auto

  #dummy-content
    margin-top: $header-height

*
  box-sizing: border-box
  +transition(all 400ms)