// core
@import "vars"
@import "mixins"
@import "blocks"
@import "common-styles"
@import "typography" 
@import "grid"
@import "inputs"

// demo
@import "header"
@import "title-row"
@import "share-block"
@import "page-content"
@import "left-side-panel"
@import "right-side-panel"
@import "utility-row"
@import "comments-panel"
@import "view-tiles-options"
@import "item-detail-modal"
@import "file"
@import "modal"
@import "context-menus"
@import "filter"

// ==================================================

body
  font-family: "Helvetica", sans-serif
  margin: 0
  padding: 0
  background: white
  font-size: 14px
  // overflow: hidden

  .content-wrap
    width: 80%
    max-width: 1500px
    margin: 0 auto

  section
    padding: 40px 0
    border-bottom: 1px solid $lt-grey
    overflow: auto

    &:last-of-type
      border-bottom: none

    &.heading
      padding: 80px 0 0

*
  box-sizing: border-box
  +transition(all 400ms)