// core
@import "vars"
@import "common-styles"
@import "typography" 

// elements
@import "tile"
@import "file-utilities"

// ==================================================

body
  font-family: "Coming Soon", "Helvetica", sans-serif
  margin: 0
  padding: 0
  background: $xlt-grey

  .content-wrap
    width: 80%
    max-width: 1500px
    margin: 0 auto

  section
    padding: 40px 0
    border-bottom: 1px solid $lt-grey
    overflow: auto

    &:last-of-type
      border-bottom: none

    &.heading
      padding: 80px 0 0