.comments-panel.border-left.comments-board-active
  mixin comment(comment, name, time)
    .comment.block-ver-sm.border-bottom
      p= comment
      p.comment-time.tight.text-grey
        span= name
        span  &middot; 
        span= time

  .scroll-container.block-top-sm.block-hor-sm
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris.", "Amelia Lewis", "02/03/2016 at 11:00am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "Amelia Lewis", "02/03/2016 at 11:00am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "Amelia Lewis", "02/03/2016 at 11:00am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "Amelia Lewis", "02/03/2016 at 11:00am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at.", "Amelia Lewis", "Yesterday at 11:14am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "Amelia Lewis", "Yesterday at 11:52am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at.", "Amelia Lewis", "4 hours ago")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris.", "Amelia Lewis", "10 minutes ago")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "Amelia Lewis", "A moment ago")
  .comment-input.block-xs.border-top: textarea(placeholder="Add a comment")