.comments-panel.border-left.comments-board-active
  mixin comment(comment, img, initials, name, time)
    .comment.block-ver-sm.border-bottom
      .row
        p= comment
      .row
        if img
          .avatar.avatar-xs.pull-left(style="background-image: url('" + img + "')")
        else
          .avatar.avatar-xs.pull-left(data-initials=initials)
        p.comment-details.tight.text-grey.pull-left
          span= name
          span  &middot; 
          span= time

  .scroll-container.block-top-sm.block-hor-sm
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris.", "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Amelia Lewis", "02/03/2016 at 11:00am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAT6AAAAJGZiMmIwM2E3LTMzNzMtNDEzNi1iN2JhLWJlZmYzM2MwNmI2Nw.jpg", "JR", "Juilian Ramirez", "02/03/2016 at 11:00am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAT6AAAAJGZiMmIwM2E3LTMzNzMtNDEzNi1iN2JhLWJlZmYzM2MwNmI2Nw.jpg", "JR", "Julian Ramirez", "02/03/2016 at 11:00am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Amelia Lewis", "02/03/2016 at 11:00am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at.", "", "AH", "Andrew Harris", "Yesterday at 11:14am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "", "AH", "Andrew Harris", "Yesterday at 11:52am")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at.", "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Amelia Lewis", "4 hours ago")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris.", "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAT6AAAAJGZiMmIwM2E3LTMzNzMtNDEzNi1iN2JhLWJlZmYzM2MwNmI2Nw.jpg", "JR", "Julian Ramirez", "10 minutes ago")
    +comment("Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium.", "https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg", "AL", "Amelia Lewis", "A moment ago")
  .comment-input.block-xs.border-top: textarea(placeholder="Add a comment")