mixin board-row(name, number, level, caret, shared)
  .board-row.hoverable(class="level-" + level)
    if caret == "open"
      i.icon.icon-caret-down
    else if caret == "closed"
      i.icon.icon-caret-right
    else
      i.spacer
    if shared == "yes"
      i.icon.icon-folder-shared
    if shared == "no"
      i.icon.icon-folder
    span.board-name= name 
    span.board-number= number
    i.icon.icon-ellipsis

    ul.context-menu#board-context-menu
      .block-xs.border-bottom
        li
          i.icon.icon-plus-circle
          span Create new board
      .block-xs.border-bottom  
        li
          i.icon.icon-share-right
          span Share
        li
          i.icon.icon-clone
          span Duplicate
        li
          i.icon.icon-pencil
          span Rename
        li
          i.icon.icon-download
          span Download
        li
          i.icon.icon-upload
          span Upload
        li
          i.icon.icon-print
          span Print
        li
          i.icon.icon-paper-plane
          span Send
        //- li
        //-   i.fa.fa-bell-slash-o
        //-   span Turn off notifications
      .block-xs.border-bottom
        li.text-center
          i.fa.fa-circle.label-red
          i.fa.fa-circle.label-orange
          i.fa.fa-circle.label-yellow
          i.fa.fa-circle.label-green
          i.fa.fa-circle.label-blue
          i.fa.fa-circle.label-purple
          i.fa.fa-circle.label-grey
      .block-xs
        li
          i.icon.icon-trash
          span Delete

mixin person-row(name, level, caret)
  .person-row.hoverable(class="level-" + level)
    if caret == "open"
      i.icon.icon-caret-down
    else if caret == "closed"
      i.icon.icon-caret-right
    else
      i.spacer
    i.icon.icon-user
    span= name

mixin team-row(name, level, caret)
  .team-row.hoverable(class="level-" + level)
    if caret == "open"
      i.icon.icon-caret-down
    else if caret == "closed"
      i.icon.icon-caret-right
    else
      i.spacer
    span= name


//- ============================================================but in


.header-row.border-bottom
  span.font-wgsn My Boards

.block-top-xs.block-hor-xs
  a.btn.btn-white(href="")
    i.icon.icon-plus
    span Create New Board
  
.block-xs
  .misc-row.block-xs.level-1
    i.fa.fa-mobile
    span Mobile Uploads

  +board-row("Autumn/Winter 2016", "200", "1", "closed", "yes")
  +board-row("Inspiration Images", "200", "1", "closed", "no")
  +board-row("Reports to Read", "200", "1", "closed", "yes")
  +board-row("Fashion Shows", "200", "1 label-red", "open", "no")
  +board-row("Yeezy", "200", "2 active", "closed", "yes")
  +board-row("Celine", "200", "2", "", "no")
  +board-row("Alexander Wang", "200", "2", "", "yes")
  +board-row("Opening Ceremony", "200", "2", "closed", "yes")
  +board-row("Lookbooks", "200", "1", "closed", "no")

.header-row.border-top.border-bottom
  span.font-wgsn Shared With Me

.block-xs
  +team-row("Product", "1", "open", "yes")
  +person-row("Julian Ramirez", "2", "open")
  +board-row("Board name", "200", "3", "closed", "yes")
  +board-row("Board name", "200", "3", "closed", "yes")
  +board-row("Board name", "200", "3", "closed", "yes")
  +board-row("Board name", "200", "3", "open", "yes")
  +board-row("Board name", "200", "4", "", "yes")
  +person-row("Sansan Chen", "2", "closed")
  +person-row("Andrew Harris", "2", "closed")
  +person-row("Nicky Ashwell", "2", "closed")
  +person-row("Theba Marando", "2", "closed")
  +person-row("Sarah Freiser", "2", "closed")
  +team-row("Content", "1", "closed", "yes")
  +team-row("Tech", "1", "closed", "yes")
  +team-row("QA", "1", "closed", "yes")
  +team-row("Content Graphics", "1", "closed", "yes")
  +team-row("Creative Services", "1", "closed", "yes")
  +team-row("Sales", "1", "closed", "yes")
  +team-row("Finance", "1", "closed", "yes")