.left-side-panel.block-xxs
  .scroll-container
    .header-row.hoverable.btn-messages
      //- i.icon.icon-envelope
      span.font-wgsn Messages
      i.icon.icon-angle-up.pull-right

    .block-bot-xxs.content-messages
      a.misc-row.btn-inbox(href="/workspace/inbox")
        i.icon.icon-envelope
        span Inbox
        .inbox-number.pull-right.text-center.hidden-workspace-inbox 1

      a.misc-row.btn-sent-messages(href="/workspace/sent-messages")
        i.icon.icon-envelope
        i.icon.icon-arrow-right
        span Sent Messages
    
    //- .header-row.hoverable.btn-favourites
    a.header-row.hoverable(href="/workspace/favourites")
      //- i.icon.icon-heart-o
      span.font-wgsn Favourites
      //- i.icon.icon-angle-up.pull-right

    //- .block-bot-xs.content-favourites
    //-   a.misc-row(href="/workspace/favourites")
    //-     i.icon.icon-folder
    //-     span Images

    //-   .misc-row
    //-     i.icon.icon-folder
    //-     span Reports

    //-   .misc-row
    //-     i.icon.icon-folder
    //-     span Videos

    .header-row.hoverable
      span.font-wgsn Mobile Uploads
      //- i.icon.icon-angle-up.pull-right
    
    include folder-structure

    .header-row.hoverable.btn-my-boards
      i.icon.icon-trash
      span.font-wgsn Trash