.left-side-panel.border-right.bg-grey.hidden-xs
  .item.block-sm.border-bottom
    i.fa.fa-envelope-o
    span.font-wgsn Inbox
    .inbox-number.pull-right.text-center 2
  
  .item.block-xs.border-bottom
    i.fa.fa-heart
    span.font-wgsn Favourites
  
  include folder-structure