.left-side-panel.border-right.bg-white
  .scroll-container
    .header-row.border-bottom.hoverable
      span.font-wgsn Messages
      i.icon.icon-angle-up.pull-right

    .block-xs
      a.misc-row.btn-inbox(href="/workspace/inbox")
        i.icon.icon-envelope
        span Inbox
        .inbox-number.pull-right.text-center 2

      .misc-row
        i.icon.icon-envelope
        span Sent
    
    .header-row.border-top.border-bottom.hoverable
      i.icon.icon-heart-o
      span.font-wgsn Favourites
    
    include folder-structure