.share-block.block-xs.pull-left.btn-share
  .avatar.owner.online(style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg')"): span.tooltip.nowrap Amelia Lewis is the owner
  .divider
  .avatar.online(style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAT6AAAAJGZiMmIwM2E3LTMzNzMtNDEzNi1iN2JhLWJlZmYzM2MwNmI2Nw.jpg')"): span.tooltip.nowrap Julian Ramirez can edit
  .avatar(style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAFZAAAAJDM1YTk4OTc5LTJjZGUtNGJkMS1iMTM4LTBmMjIzYTM3NGYzMQ.jpg')"): span.tooltip.nowrap Nicky Ashwell can edit
  .avatar.online.active(style="background-image: url('https://media.licdn.com/media/AAEAAQAAAAAAAAZVAAAAJDBlZWUwZWE0LTk1OWYtNGMyYi1iYmU5LTA3NDNlNDYxZmYwMQ.jpg')"): span.tooltip.nowrap Sansan Chen can edit
  .avatar(style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/06d/1ea/349ef69.jpg')"): span.tooltip.nowrap Andrew Harris can edit
  .avatar.sharing-other +6