.utility-block.pull-right  
  .flex-center.input-container.pull-left.block-hor-sm
    input(type="text", placeholder="Search this board")
    span.icon-container.border: i.icon.icon-search

  .flex-center.pull-left
    .btn-view-option.disabled#btn-view-option-sm: i.icon.icon-grid-sm
    .btn-view-option#btn-view-option-md: i.icon.icon-grid-md
    .btn-view-option.disabled#btn-view-option-lg: i.icon.icon-grid-lg
    .btn-view-option.disabled#btn-view-option-details: i.icon.icon-grid-details

  .flex-center.pull-left.block-hor-xs
    .block-hor-xs.pull-left.flex-center.hoverable.btn-settings
      i.icon.icon-gear
      include ../../partials/context-menus/utility-row-settings-context-menu
    
    .block-hor-xs.pull-left.flex-center.hoverable.btn-comments: i.icon.icon-comment