extends layout

block append vars
  - bodyclass = 'image-library-view'

block prepend title
  | Image Library | 

block content
  include partials/header

  .row.title-row.border-bottom
    .block-sm.title-block.pull-left
      h2.tight.block-inline Image &amp; Design Library

    .block-xs.search-block.pull-right
      .block-ver-xs.block-hor-sm.pull-left: i.fa.fa-list-ul
      .search-input.pull-left
        input(type="text", placeholder="Search Image & Design Library")
        span.icon.border: i.fa.fa-search
      .block-left-sm.pull-left: a.btn.btn-white.tight#btn-save-search(href="") Save Search

  .row.page-content.show-left-side-panel
    include partials/image-library/left-side-panel
    include partials/right-side-panel

  .overlay
  include partials/item-detail-modal