extends layout

block append vars
  - bodyclass = 'image-library-view'

block prepend title
  | Image Library | 

block content
  include partials/header

  .row.title-row.border-bottom.bg-grey
    .block-sm.title-block.pull-left
      h2.tight
        span.block-inline Image &amp; Design Library

  .row.page-content.show-left-side-panel
    include partials/image-library/left-side-panel
    include partials/right-side-panel

  .overlay
  include partials/item-detail-modal