extends layout

block append vars
  - bodyclass = 'index'

block content
  .block-xl.border-right.flex-center.text-center: a.inline-block(href="/workspace/autumn-winter-2016"): h1 Workspace
  .block-xl.flex-center.text-center: a.inline-block(href="/image-library"): h1 Image &amp; Design Library