extends layout

block append vars
  - bodyclass = 'index'

block content
  .block-xl
    ul.clean
      li: a(href="option-1"): h1 Option 1
      li: a(href="option-2"): h1 Option 2
      li: a(href="option-3"): h1 Option 3
      li: a(href="option-4"): h1 Option 4
      li: a(href="option-5"): h1 Option 5