extends layout

block append vars
  - bodyclass = 'index'

block content
  .block-xl
    ul.clean
      li: a(href="/workspace.html"): h1 Workspace
      li: a(href="/image-library.html"): h1 Image &amp; Design Library