extends layout

block append vars
  - bodyclass = 'index'

block content
  include partials/header

  .row.title-row.border-bottom.bg-grey
    .block-sm.title-block.pull-left
      h2.tight
        | My Boards
        i.fa.fa-angle-right
        | Fashion Shows
        i.fa.fa-angle-right
        | Yeezy
    .block-sm.share-block.text-right.pull-left: a.text-right.underlined.tight(href="") Share folder
    .block-sm.btn-comments.text-center.border-left.pull-right: i.fa.fa-comment-o

  .row.workspace-content
    .col-xs-12.col-sm-4.col-md-2.hidden-xs: include partials/left-side-panel
    .col-xs-12.col-sm-8.col-md-10: include partials/right-side-panel