extends layout

block append vars
  - bodyclass = 'index'

block content
  .row
    .col-xs-4.border-right: .flex-center: a.inline-block(href="/workspace/autumn-winter-2016"): h1 Workspace
    .col-xs-4.border-right: .flex-center: a.inline-block(href="/image-library"): h1 Image Library
    .col-xs-4: .flex-center: a.inline-block(href="/mood-library"): h1 Mood Library