extends layout

block append vars
  - bodyclass = 'index'

block content
  include partials/header

  .row.title-row.border-bottom
    .col-xs-6: .block-sm: h2.tight My Boards > Spring/Summer > Inspiration Images
    .col-xs-5: .block-sm.text-right: a.text-right.underlined.tight(href="") Share folder
    .col-xs-1.border-left: .block-ver-sm.text-center: i.fa.fa-comment-o

  .row.workspace-content
    .col-xs-12.col-sm-4.col-md-2: include partials/left-side-panel
    .col-xs-12.col-sm-8.col-md-10: include partials/right-side-panel