extends layout

block append vars
  - bodyclass = 'index'

block content
  include partials/header

  .row.title-row.border-bottom.bg-grey
    .block-sm.title-block.pull-left
      h2.tight
        span.block-inline WGSN Workspace
        .smaller.block-inline
          span My Boards
          i.fa.fa-angle-right
          span Fashion Shows
          i.fa.fa-angle-right
          span Yeezy
    .block-sm.share-block.text-right.pull-left: a.text-right.underlined.tight(href="") Share folder
    .block-sm.btn-comments.text-center.border-left.pull-right: i.fa.fa-comment-o

  .row.workspace-content
    include partials/left-side-panel
    include partials/right-side-panel
    include partials/comments-panel