extends layout

block append vars
  - bodyclass = 'index'

block content
  section.heading
    h1.text-center Cherry

  section#file-types: include partials/file-types
  section#file-utilities: include partials/file-utilities