doctype
block vars
  - var bodyclass = null

html
  head
    title WGSN Header
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/main.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel="shortcut icon", type="image/x-icon", href="./img/favicon.ico")
  
  body(class=bodyclass)
    block content
    
    include partials/scripts