doctype
block vars
  - var bodyclass = null

html
  head
    title
      block title
        = locals.name
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css")
    //- link(rel="stylesheet", type="text/css", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css")
    link(rel="stylesheet", href="/css/main.css")
    link(href="https://file.myfontastic.com/VeyjPfaKqwcaCVK6kquFB4/icons.css", rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Coming+Soon', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", type="image/x-icon", href=locals.url + "/img/favicon.ico")
  
  body(class=bodyclass)
    block content

    a.btn-back-to-top(href="#0"): i.icon.icon-angle-up
    
    .overlay
    include partials/item-detail-modal
    
    include partials/modals/share
    include partials/modals/add
    include partials/modals/send
    include partials/modals/print
    
    include partials/modals/create-new-board
    include partials/modals/save-search
    include partials/modals/duplicate-board
    include partials/modals/rename-board
    
    include partials/context-menus/floating-item-context-menu
    include partials/context-menus/floating-board-context-menu

    include partials/scripts