extends ../../layout

block append vars
  - bodyclass = 'workspace-favourites-view'

block prepend title
  | Favourites | 

block content
  .row.page-content.show-left-side-panel
    include ../../partials/workspace/left-side-panel
    
    .right-side-panel
      .row.title-row.border-bottom
        .title-block.block-sm.pull-left
          h2.tight.inline-block WGSN Workspace
          .block-xxs.inline-block.board-name.hoverable: span Favourites

      .btn-left-side-panel.hoverable: i.icon.icon-angle-left
      include ../../partials/images-row
      include ../../partials/floating-utility-row