<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><script>$('.util-heart').on('click', function() {
  if ($(this).hasClass('fa-heart-o')) {
    $(this).addClass('fa-heart').removeClass('fa-heart-o');
  } else {
    $(this).addClass('fa-heart-o').removeClass('fa-heart');
  }
});
</script><script>$('.util-checkbox').on('click', function() {
  if ($(this).hasClass('fa-square-o')) {
    $(this).addClass('fa-check-square-o').removeClass('fa-square-o');
    $(this).parentsUntil('.file-container').addClass('selected');
  } else {
    $(this).addClass('fa-square-o').removeClass('fa-check-square-o');
    $(this).parentsUntil('.file-container').removeClass('selected');
  }
});

$('.select-all').on('click', function() {
  if ($(this).hasClass('fa-square-o')) {
    $(this).addClass('fa-check-square-o').removeClass('fa-square-o');
    $('.util-checkbox').addClass('fa-check-square-o').removeClass('fa-square-o');
    $('.file').addClass('selected');
  } else {
    $(this).addClass('fa-square-o').removeClass('fa-check-square-o');
    $('.util-checkbox').addClass('fa-square-o').removeClass('fa-check-square-o');
    $('.file').removeClass('selected');
  }
});
</script><script>$('.file .menu-btn').on('click', function() {
  $(this).siblings('.context-menu').toggleClass('show');
});

$('.file .context-menu').on('click', function() {
  $('.file .context-menu').removeClass('show');
});
</script><script>$('.fa-th').on('click', function() {
  $(this).removeClass('disabled');
  $(this).siblings().addClass('disabled');
  $(this).parentsUntil('.workspace-content').addClass('view-tiles-sm').removeClass('view-tiles-md').removeClass('view-tiles-lg').removeClass('view-tiles-details');
});
</script><script>$('.fa-th-large').on('click', function() {
  $(this).removeClass('disabled');
  $(this).siblings().addClass('disabled');
  $(this).parentsUntil('.workspace-content').removeClass('view-tiles-sm').addClass('view-tiles-md').removeClass('view-tiles-lg').removeClass('view-tiles-details');
});
</script><script>$('.fa-square').on('click', function() {
  $(this).removeClass('disabled');
  $(this).siblings().addClass('disabled');
  $(this).parentsUntil('.workspace-content').removeClass('view-tiles-sm').removeClass('view-tiles-md').addClass('view-tiles-lg').removeClass('view-tiles-details');
});
</script><script>$('.fa-columns').on('click', function() {
  $(this).removeClass('disabled');
  $(this).siblings().addClass('disabled');
  $(this).parentsUntil('.workspace-content').removeClass('view-tiles-sm').removeClass('view-tiles-md').removeClass('view-tiles-lg').addClass('view-tiles-details');
});












</script>