<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><script>$('.fa-heart-o').on('click', function() {
  $(this).addClass('fa-heart');
  $(this).removeClass('fa-heart-o');
});
</script><script>$('.fa-square-o').on('click', function() {
  $(this).addClass('fa-check-square-o');
  $(this).removeClass('fa-square-o');
  $(this).parents().addClass('selected');
});
</script><script>$('.file .menu-btn').on('click', function() {
  $(this).siblings('.context-menu').toggleClass('show');
});

$('.file .context-menu').on('click', function() {
  $(".file .context-menu").removeClass('show');
});
















</script>