<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><script>$('.fa-heart-o').on('click', function() {
  $(this).addClass('fa-heart').removeClass('fa-heart-o');
});
</script><script>$('.fa-square-o').on('click', function() {
  $(this).addClass('fa-check-square-o').removeClass('fa-square-o');
  $(this).parentsUntil('.file-container').addClass('selected');
});
</script><script>$('.select-all').on('click', function() {
  $('.fa-square-o').addClass('fa-check-square-o').removeClass('fa-square-o');
  $('.file').addClass('selected');
});
</script><script>$('.file .menu-btn').on('click', function() {
  $(this).siblings('.context-menu').toggleClass('show');
});

$('.file .context-menu').on('click', function() {
  $('.file .context-menu').removeClass('show');
});
</script><script>$('.fa-th').on('click', function() {
  $(this).removeClass('disabled');
  $(this).siblings().addClass('disabled');
  $(this).parentsUntil('.workspace-content').addClass('view-tiles-sm').removeClass('view-tiles-md').removeClass('view-tiles-lg');
});
</script><script>$('.fa-th-large').on('click', function() {
  $(this).removeClass('disabled');
  $(this).siblings().addClass('disabled');
  $(this).parentsUntil('.workspace-content').removeClass('view-tiles-sm').addClass('view-tiles-md').removeClass('view-tiles-lg');
});
</script><script>$('.fa-square').on('click', function() {
  $(this).removeClass('disabled');
  $(this).siblings().addClass('disabled');
  $(this).parentsUntil('.workspace-content').removeClass('view-tiles-sm').removeClass('view-tiles-md').addClass('view-tiles-lg');
});












</script>