ul.context-menu#floating-item-context-menu
  .block-ver-xxs.border-bottom
    li
      span.text-grey 1 file selected
  .block-ver-xxs.border-bottom
    li.btn-open
      i.icon.icon-export
      span Open
  .block-ver-xxs.border-bottom
    li.btn-add-to-board.hidden-workspace
      i.icon.icon-plus-circle
      span Add to a Board
    li.btn-move.hidden-image-library.hidden-workspace-inbox.hidden-workspace-sent-messages.hidden-workspace-favourites
      i.icon.icon-move
      span Move
    li.btn-copy.hidden-image-library.hidden-workspace-inbox.hidden-workspace-sent-messages.hidden-workspace-favourites
      i.icon.icon-clone
      span Copy
    li
      i.icon.icon-download
      span Download
    li.btn-print
      i.icon.icon-print
      span Print
    li
      i.icon.icon-crop
      span Crop
    li.btn-send
      i.icon.icon-paper-plane
      span Send
  .block-ver-xxs
    li
      i.icon.icon-trash
      span Delete