ul.context-menu#floating-item-context-menu
  .block-ver-xxs.border-bottom
    li
      span.text-grey 1 file selected
  .block-ver-xxs.border-bottom.hidden-workspace-trash
    li.btn-open
      i.icon.icon-export
      span Open
  .block-ver-xxs.border-bottom
    li.btn-add-to-board.hidden-workspace.hidden-workspace-trash
      i.icon.icon-plus-circle
      span Save
    li.btn-move.hidden-image-library.hidden-workspace-messages.hidden-workspace-favourites.hidden-workspace-view-only
      i.icon.icon-move
      span Move
    li.btn-copy.hidden-image-library.hidden-workspace-messages.hidden-workspace-favourites.hidden-workspace-trash
      i.icon.icon-clone
      span Copy
    li.hidden-workspace-trash
      i.icon.icon-download
      span Download
    li.btn-print.hidden-workspace-trash
      i.icon.icon-print
      span Print
    li.hidden-workspace-trash
      i.icon.icon-crop
      span Crop
    li.btn-send.hidden-workspace-trash
      i.icon.icon-paper-plane
      span Send
  .block-ver-xxs.hidden-workspace-trash
    li
      i.icon.icon-trash
      span Delete