ul.context-menu#sort-by-context-menu
  .block-ver-xxs
    li
      i.icon.icon-tick
      span Best match
    li
      i.spacer
      span Date: newest first
    li
      i.spacer
      span Date: oldest first