ul.context-menu#top-board-context-menu
  .block-ver-xxs.border-bottom
    li.btn-create-new-board
      i.icon.icon-plus-circle
      span Create new board
  .block-ver-xxs.border-bottom  
    li.btn-share
      i.icon.icon-share-right
      span Share
    li.btn-duplicate-board
      i.icon.icon-clone
      span Duplicate
    li.btn-rename-board
      i.icon.icon-pencil
      span Rename
    li.btn-download
      i.icon.icon-download
      span Download
    li
      i.icon.icon-upload
      span Upload
    li.btn-print
      i.icon.icon-print
      span Print
    li.btn-send
      i.icon.icon-paper-plane
      span Send
    //- li
    //-   i.fa.fa-bell-slash-o
    //-   span Turn off notifications
  .block-ver-xxs.border-bottom
    li.text-center
      .label-circle.label-circle-red: i.icon.icon-cross
      .label-circle.label-circle-orange: i.icon.icon-cross
      .label-circle.label-circle-yellow: i.icon.icon-cross
      .label-circle.label-circle-green: i.icon.icon-cross
      .label-circle.label-circle-blue: i.icon.icon-cross
      .label-circle.label-circle-purple: i.icon.icon-cross
      .label-circle.label-circle-grey: i.icon.icon-cross
  .block-ver-xxs
    li
      i.icon.icon-trash
      span Delete