ul.context-menu#utility-row-context-menu
  .block-ver-xxs.border-bottom
    li.btn-add-to-board
      i.icon.icon-plus-circle
      span Add to a Board
    li
      i.icon.icon-download
      span Download
    li
      i.icon.icon-print
      span Print
    li.btn-send
      i.icon.icon-paper-plane
      span Send
  .block-ver-xxs
    li
      i.icon.icon-trash
      span Delete