extends ../../layout

block append vars
  - bodyclass = 'workspace-view workspace-autumn-winter-2016-view product-none'

block prepend title
  | Workspace | 

block content
  .row.page-content.show-left-side-panel
    include ../../partials/workspace/left-side-panel
    
    .right-side-panel
      .row.title-row.border-bottom.block-hor-md
        .block-ver-xs.block-right-xs.pull-left
          h1.tight.inline-block.multi-line
            span Workspace
            | Autumn/Winter 2016
        
        .block-ver-md.block-right-sm.pull-left.hoverable.btn-top-board-context-menu
          span.text-grey.font-wgsn 152
          i.icon.icon-caret-down.text-grey
          include ../../partials/context-menus/top-board-context-menu

        include ../../partials/workspace/share-block
        include ../../partials/workspace/utility-block
        include ../../partials/floating-utility-row

      .btn-left-side-panel.hoverable: i.icon.icon-angle-left
      include ../../partials/files-row
    
    include ../../partials/workspace/comments-panel