extends ../../layout

block append vars
  - bodyclass = 'workspace-view workspace-view-balmain-2016'

block prepend title
  | Workspace | 

block content
  .row.page-content.show-left-side-panel
    include ../../partials/workspace/left-side-panel
    
    .right-side-panel
      .row.title-row.border-bottom
        .title-block.block-sm.pull-left
          h2.tight.inline-block Workspace
          //- .block-xxs.inline-block.board-name.hoverable: span My Boards
          //- .block-xxs.inline-block: i.icon.icon-angle-right
          //- .block-xxs.inline-block.board-name.hoverable: span Fashion Shows
          //- .block-xxs.inline-block: i.icon.icon-angle-right
          .block-xxs.inline-block.board-name.hoverable.btn-top-board-context-menu
            span Balmain 2016
            span.board-number 200
            i.icon.icon-caret-down
            include ../../partials/context-menus/top-board-context-menu
          .inline-block.hoverable.btn-share: i.icon.icon-user
        
        include ../../partials/workspace/utility-block

      .btn-left-side-panel.hoverable: i.icon.icon-angle-left
      include ../../partials/images-row
      include ../../partials/floating-utility-row
    
    include ../../partials/workspace/comments-panel