include file

.files-row
  include image-library/filter-row
  .files-container
    .collage
      +file("report", "https://www.wgsn.com//fashionoffice//storage/vol3/fo_image_store/cached/boards/56051//page_snapshots/761975_detail.jpg", "no", "", "Kim & Kanye Star in High-Profile Balmain Campaign")
      +file("report", "https://www.wgsn.com//fashionoffice//storage/vol20/fo_image_store/cached/boards/64387//page_snapshots/844184_detail.jpg", "no", "", "Design Development A/W 17/18: Women's Jackets & Outerwear")
    .details-view
      +file-details-view("report", "https://www.wgsn.com//fashionoffice//storage/vol3/fo_image_store/cached/boards/56051//page_snapshots/761975_detail.jpg", "no", "", "Kim & Kanye Star in High-Profile Balmain Campaign")
      +file-details-view("report", "https://www.wgsn.com//fashionoffice//storage/vol20/fo_image_store/cached/boards/64387//page_snapshots/844184_detail.jpg", "no", "", "Design Development A/W 17/18: Women's Jackets & Outerwear")