mixin file(type, img, ...caption)
  .file-container
    .file.border(class!=attributes.class)
      .thumb-container.border-bottom
        .thumb-inner(style="background-image: url('" + img + "');")
          //- if type == "image"
          //-   i.fa.fa-4x.fa-picture-o
          //- else if type == "design-asset"
          //-   i.fa.fa-4x.fa-paint-brush
          //- else if type == "report"
          //-   i.fa.fa-4x.fa-file-text-o
          //- else if type == "video"
          //-   i.fa.fa-4x.fa-play-circle
          //- else if type == "map"
          //-   i.fa.fa-4x.fa-map-o
          //- else if type == "color-card"
          //-   i.fa.fa-4x.fa-tags
          //- else if type == "place"
          //-   i.fa.fa-4x.fa-map-marker
          //- else if type == "news"
          //-   i.fa.fa-4x.fa-newspaper-o
          //- else if type == "site"
          //-   i.fa.fa-4x.fa-desktop
          //- else
          //-   i.fa.fa-4x.fa-file
      
      .caption-container
        ul.caption
          each item in caption
            li= item

      .file-utilities
        i.util-checkbox.fa.fa-square-o
        i.util-heart.fa.fa-heart-o
        
        .menu-btn.border.text-center: i.fa.fa-ellipsis-h
        
        ul.item-context-menu.clean.border.box-shadow
          li.block-sm.tight.border-bottom
            i.fa.fa-external-link-square
            span Open
          li.block-sm.tight.border-bottom
            i.fa.fa-plus-square
            span Add to a Board
          li.block-sm.tight.border-bottom
            i.fa.fa-download
            span Download
          li.block-sm.tight.border-bottom
            i.fa.fa-print
            span Print
          li.block-sm.tight.border-bottom
            i.fa.fa-crop
            span Crop
          li.block-sm.tight.border-bottom
            i.fa.fa-paper-plane
            span Send
          li.block-sm.tight
            i.fa.fa-trash
            span Delete


mixin file-details-view(type, img, ...caption)
  .file-container.block-sm
    .file-details-view(class!=attributes.class)
      .thumb-container
        img(src=img)
        i.util-checkbox.fa.fa-square-o
        i.util-heart.fa.fa-heart-o
      
      .caption-container.block-sm
        ul.clean
          li.font-wgsn.block-hor-sm= type
          each item in caption
            li.caption.block-hor-sm= item
        
        ul.clean
          li.block-sm.tight.block-inline: i.fa.fa-external-link-square
          li.block-sm.tight.block-inline: i.fa.fa-plus-square
          li.block-sm.tight.block-inline: i.fa.fa-download
          li.block-sm.tight.block-inline: i.fa.fa-print
          li.block-sm.tight.block-inline: i.fa.fa-crop
          li.block-sm.tight.block-inline: i.fa.fa-paper-plane
          li.block-sm.tight.block-inline: i.fa.fa-trash