h2.text-center File Utilities

mixin file()
  .file-container
    .file: i.fa.fa-4x.fa-file
    
    .file-type-label
      i.fa.fa-file
      span File type

    //- file-utilities
    block
  
  .caption-container
    ul.caption
      li Chanel
      li Spring/Summer
      li Paris

.tile#tile-1
  +file()
    .file-utilities.text-center
      i.fa.fa-external-link-square
      i.fa.fa-info-circle
      i.fa.fa-plus-square
      i.fa.fa-download
      i.fa.fa-print
      i.fa.fa-crop
      i.fa.fa-paper-plane
      i.fa.fa-heart-o
      i.fa.fa-trash

.tile#tile-2
  +file()
    .file-utilities.text-center
      i.fa.fa-external-link-square
      i.fa.fa-info-circle
      i.fa.fa-plus-square
      i.fa.fa-download
      i.fa.fa-print
      i.fa.fa-crop
      i.fa.fa-paper-plane
      i.fa.fa-heart-o
      i.fa.fa-trash

.tile#tile-3
  +file()
    .file-top-utilities
      i.fa.fa-check-square-o.pull-left
      i.fa.fa-heart-o.pull-right
    .file-utilities.text-center
      i.fa.fa-external-link-square
      i.fa.fa-info-circle
      i.fa.fa-plus-square
      i.fa.fa-download
      i.fa.fa-print
      i.fa.fa-crop
      i.fa.fa-paper-plane
      i.fa.fa-trash

.tile#tile-4
  +file()
    .file-utilities.text-center
      .file-icon-btn: i.fa.fa-external-link-square
      .file-icon-btn: i.fa.fa-info-circle
      .file-icon-btn: i.fa.fa-plus-square
      .file-icon-btn: i.fa.fa-download
      .file-icon-btn: i.fa.fa-print
      .file-icon-btn: i.fa.fa-crop
      .file-icon-btn: i.fa.fa-paper-plane
      .file-icon-btn: i.fa.fa-heart-o
      .file-icon-btn: i.fa.fa-trash

.tile#tile-5
  +file()

.tile#tile-6
  +file()

.tile#tile-7
  +file()

.tile#tile-8
  +file()

.tile#tile-9
  +file()