include file

.files-row
  include image-library/filter-row
  .files-container.block-hor-xs
    .collage
      +file("report", "https://www.wgsn.com//fashionoffice//storage/vol3/fo_image_store/cached/boards/56051//page_snapshots/761975_detail.jpg", true, false, "", "Kim & Kanye Star in High-Profile Balmain Campaign", "1: Cover")
      +file("image", "https://www.wgsn.com/storage/vol20/ss_image_store/83/57/59/32/media_SS17_Sports_jacket.jpg", true, false, "media_SS17_Sports_jacket.jpg", "Jackets", "Spring/Summer 2017", "Active/Sport, Drawstring, Hood, Long Sleeve, Raglan/Baseball")
      +file("report", "https://www.wgsn.com//fashionoffice//storage/vol17/fo_image_store/cached/boards/63918//page_snapshots/835571_detail.jpg", true, false, "", "Design Development A/W 17/18: Women's Jackets & Outerwear", "1: Cover")
      +file("video", "https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46026//splash.jpg", false, false, "", "The Jewellery Tech Evolution", "Trend Minute")
      +file("image", "https://www.wgsn.com/storage/vol20/ss_image_store/54/52/69/32/media_dom20116_P1050518.jpg", false, true, "media_dom20116_P1050518.jpg", "Domotex", "Krishna Carpets", "January 2016")
      +file("image", "https://www.wgsn.com/storage/vol10/ss_image_store/87/45/52/02/media_CF0414_PCN_W_003.jpg", false, true, "media_CF0414_PCN_W_003.jpg", "Miranda Kerr", "Out & About", "April 2014")
      +file("image", "https://www.wgsn.com/storage/vol18/ss_image_store/37/82/11/32/media_Covergirl-Star-Wars-Makeup.jpg", false, false, "media_Covergirl-Star-Wars-Makeup.jpg", "CoverGirl", "Spring/Summer 2017", "Beauty")
      +file("image", "https://www.wgsn.com/storage/vol20/ss_image_store/34/06/59/32/media_hem120116_desigual_09.jpg", true, false, "media_hem120116_desigual_09.jpg", "Heimtextil", "Desigual", "January 2016")
      +file("image", "https://www.wgsn.com/storage/vol20/ss_image_store/65/21/06/42/media_glo20316_IMG_5537.jpg", false, false, "media_glo20316_IMG_5537.jpg", "GlobalShop", "Go Home Ltd.", "March 2016")
      +file("video", "https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46451//splash.jpg", true, false, "", "A/W 16/17 Catwalks", "Trendcast")
      +file("video", "https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46316//splash.jpg", false, true, "", "Girly Goth - A/W 17", "Trendcast")
    
    .details-view
      +file-details-view("report", "https://www.wgsn.com//fashionoffice//storage/vol3/fo_image_store/cached/boards/56051//page_snapshots/761975_detail.jpg", true, false, "", "Kim & Kanye Star in High-Profile Balmain Campaign", "1: Cover")
      +file-details-view("image", "https://www.wgsn.com/storage/vol20/ss_image_store/83/57/59/32/media_SS17_Sports_jacket.jpg", true, false, "media_SS17_Sports_jacket.jpg", "Jackets", "Spring/Summer 2017", "Active/Sport, Drawstring, Hood, Long Sleeve, Raglan/Baseball")
      +file-details-view("report", "https://www.wgsn.com//fashionoffice//storage/vol17/fo_image_store/cached/boards/63918//page_snapshots/835571_detail.jpg", false, false, "", "Design Development A/W 17/18: Women's Jackets & Outerwear", "1: Cover")
      +file-details-view("video", "https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46026//splash.jpg", true, false, "", "The Jewellery Tech Evolution", "Trend Minute")
      +file-details-view("image", "https://www.wgsn.com/storage/vol20/ss_image_store/54/52/69/32/media_dom20116_P1050518.jpg", true, false, "media_dom20116_P1050518.jpg", "Domotex", "Krishna Carpets", "January 2016")
      +file-details-view("image", "https://www.wgsn.com/storage/vol10/ss_image_store/87/45/52/02/media_CF0414_PCN_W_003.jpg", false, false, "media_CF0414_PCN_W_003.jpg", "Miranda Kerr", "Out & About", "April 2014")
      +file-details-view("image", "https://www.wgsn.com/storage/vol18/ss_image_store/37/82/11/32/media_Covergirl-Star-Wars-Makeup.jpg", true, true, "media_Covergirl-Star-Wars-Makeup.jpg", "CoverGirl", "Spring/Summer 2017", "Beauty")
      +file-details-view("image", "https://www.wgsn.com/storage/vol20/ss_image_store/34/06/59/32/media_hem120116_desigual_09.jpg", false, false, "media_hem120116_desigual_09.jpg", "Heimtextil", "Desigual", "January 2016")
      +file-details-view("image", "https://www.wgsn.com/storage/vol20/ss_image_store/65/21/06/42/media_glo20316_IMG_5537.jpg", true, false, "media_glo20316_IMG_5537.jpg", "GlobalShop", "Go Home Ltd.", "March 2016")
      +file-details-view("video", "https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46451//splash.jpg", false, true, "", "A/W 16/17 Catwalks", "Trendcast")
      +file-details-view("video", "https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46316//splash.jpg", true, false, "", "Girly Goth - A/W 17", "Trendcast")