mixin file(type, img, ...caption)
  .file-container
    .file.border.hoverable(class!=attributes.class)
      .thumb-container.border-bottom
        .thumb-inner(style="background-image: url('" + img + "');")
      
      .caption-container
        ul.caption
          each item in caption
            li= item

      .file-utilities
        .btn.btn-clear#btn-add-to-board Add to board
        .btn.btn-clear#btn-item-menu: i.fa.fa-ellipsis-h
        
        ul.context-menu#item-context-menu
          li.block-xs.tight
            i.fa.fa-external-link-square
            span Open
          li.block-xs.tight
            i.fa.fa-plus-square
            span Add to a Board
          li.block-xs.tight
            i.fa.fa-download
            span Download
          li.block-xs.tight
            i.fa.fa-print
            span Print
          li.block-xs.tight
            i.fa.fa-crop
            span Crop
          li.block-xs.tight
            i.fa.fa-paper-plane
            span Send
          li.block-xs.tight.border-top
            i.fa.fa-trash
            span Delete

      i.util-checkbox: i.fa.fa-check
      i.util-heart.fa.fa-heart-o


mixin file-details-view(type, img, ...caption)
  .file-container.block-xs
    .file-details-view.hoverable(class!=attributes.class)
      .thumb-container
        img(src=img)
        i.util-checkbox.fa.fa-square-o
        i.util-heart.fa.fa-heart-o
      
      .caption-container.block-xs
        ul.clean
          li.font-wgsn.block-hor-sm= type
          each item in caption
            li.caption.block-hor-sm= item
        
        ul.clean
          li.block-xs.tight.block-inline: i.fa.fa-external-link-square
          li.block-xs.tight.block-inline: i.fa.fa-plus-square
          li.block-xs.tight.block-inline: i.fa.fa-download
          li.block-xs.tight.block-inline: i.fa.fa-print
          li.block-xs.tight.block-inline: i.fa.fa-crop
          li.block-xs.tight.block-inline: i.fa.fa-paper-plane
          li.block-xs.tight.block-inline: i.fa.fa-trash