include file

.files-row
  include image-library/filter-row
  .files-container
    .collage
      +file("image", "https://www.wgsn.com/storage/vol20/ss_image_store/35/39/44/42/media_blm_aw16_003.jpg", "no", "media_blm_aw16_003.jpg", "Balmain", "Autumn/Winter 2016", "Paris")
      +file("report", "https://www.wgsn.com//fashionoffice//storage/vol3/fo_image_store/cached/boards/56051//page_snapshots/761975_detail.jpg", "no", "", "Kim & Kanye Star in High-Profile Balmain Campaign", "1: Cover")
      +file("report", "https://www.wgsn.com//fashionoffice//storage/vol17/fo_image_store/cached/boards/63918//page_snapshots/835571_detail.jpg", "no", "", "Design Development A/W 17/18: Women's Jackets & Outerwear", "1: Cover")
      +file("video", "https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46026//splash.jpg", "no", "", "The Jewellery Tech Evolution", "Trend Minute")
    .details-view
      +file-details-view("image", "https://www.wgsn.com/storage/vol20/ss_image_store/35/39/44/42/media_blm_aw16_003.jpg", "no", "media_blm_aw16_003.jpg", "Balmain", "Autumn/Winter 2016", "Paris")
      +file-details-view("report", "https://www.wgsn.com//fashionoffice//storage/vol3/fo_image_store/cached/boards/56051//page_snapshots/761975_detail.jpg", "no", "", "Kim & Kanye Star in High-Profile Balmain Campaign", "1: Cover")
      +file-details-view("report", "https://www.wgsn.com//fashionoffice//storage/vol17/fo_image_store/cached/boards/63918//page_snapshots/835571_detail.jpg", "no", "", "Design Development A/W 17/18: Women's Jackets & Outerwear", "1: Cover")
      +file-details-view("video", "https://www.wgsn.com/fashionoffice/cached_data/auto_boards/46026//splash.jpg", "no", "", "The Jewellery Tech Evolution", "Trend Minute")