.floating-utility-row-container
  .row.floating-utility-row
    .block-ver-xs.block-right-md.block-left-xs.pull-right
      .btn.btn-coloured.select-all Select all

    .block-sm.pull-right
      .displaying-results 

    .multi-utility-icons.pull-right
      .has-tooltip.tooltip-down(data-tooltip="Exit selection mode"): i.icon.icon-cross.block-xs.hoverable
      .divider.inline-block
      .has-tooltip.tooltip-down(data-tooltip="Add to Board"): i.icon.icon-plus-circle.block-xs.hoverable.btn-add-to-board.hidden-workspace.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Move"): i.icon.icon-move.block-xs.hoverable.btn-move.hidden-image-library.hidden-workspace-favourites
      .has-tooltip.tooltip-down(data-tooltip="Copy"): i.icon.icon-clone.block-xs.hoverable.btn-copy.hidden-image-library.hidden-workspace-favourites.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Download"): i.icon.icon-download.block-xs.hoverable.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Print"): i.icon.icon-print.block-xs.hoverable.btn-print.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Send"): i.icon.icon-paper-plane.block-xs.hoverable.btn-send.hidden-workspace-trash
      .has-tooltip.tooltip-down(data-tooltip="Delete"): i.icon.icon-trash.block-xs.hoverable.hidden-image-library.hidden-workspace-trash