.row.floating-utility-row
  .block-ver-sm.block-left-sm.block-right-xs.pull-left
    .displaying-results 

  .block-xs.pull-left
    .btn.btn-clear.select-all Select all

  .multi-utility-icons.block-top-sm
    i.icon.icon-plus-circle.hoverable.btn-add-to-board: span.tooltip.nowrap Add to Board
    i.icon.icon-download.hoverable: span.tooltip.nowrap Download
    i.icon.icon-print.hoverable.btn-print: span.tooltip.nowrap Print
    i.icon.icon-paper-plane.hoverable.btn-send: span.tooltip.nowrap Send
    i.icon.icon-trash.hoverable.hidden-image-library: span.tooltip.nowrap Delete