header
  .row.global-product-row
    .col-xs-8
        p.tight.text-uppercase
          | Fashion
          span /
          | Lifestyle &amp; Interiors
          span /
          | Instock 
          span / 
          | Styletrial 
          span / 
          | Mindset
    .col-xs-4.text-right
      i.fa.fa-user
      i.fa.fa-bell
      i.fa.fa-briefcase
      i.fa.fa-comments
      i.fa.fa-question-circle

  .row.product-row.border-bottom: .col-xs-12.text-center: img.product-logo(src="https://od.stylesight.com/content/assets/images/wgsn_logo.png")