header
  .row.global-product-row
    .col-xs-8
      .block-right-sm.inline-block: i.icon.icon-bars
      .product-link#product-link-fashion Fashion
      span /
      .product-link#product-link-li Lifestyle &amp; Interiors
      span /
      .product-link#product-link-instock Instock
      span /
      .product-link#product-link-styletrial Styletrial
      span /
      .product-link#product-link-mindset Mindset

    .col-xs-4.text-right
      .product-link: i.icon.icon-search
      span |
      .product-link: i.icon.icon-user
      .product-link: i.icon.icon-bell
      .product-link#product-link-workspace: i.icon.icon-briefcase
      .product-link: i.icon.icon-chat
      .product-link: i.icon.icon-help-circle