header
  .row.global-product-row
    .col-xs-8
      .product-link#product-link-fashion Fashion
      span /
      .product-link#product-link-li Lifestyle &amp; Interiors
      span /
      .product-link#product-link-instock Instock
      span /
      .product-link#product-link-styletrial Styletrial
      span /
      .product-link#product-link-mindset Mindset

    .col-xs-4.text-right
      i.icon.icon-user
      i.icon.icon-bell
      i.icon.icon-briefcase
      i.icon.icon-chat
      i.icon.icon-help-circle

  .row.product-row-bg.border-bottom.hidden-workspace.hidden-workspace-inbox
  .row.product-row.hidden-workspace
    .hoverable#btn-menu: i.icon.icon-bars
    .hoverable#product-logo(style="background-image: url('https://od.stylesight.com/content/assets/images/wgsn_logo.png');")
    .hoverable#btn-search.border-left: i.icon.icon-search