header
  .row.global-product-row
    .col-xs-8
      .product-link.active#product-link-fashion Fashion
      span /
      .product-link#product-link-li Lifestyle &amp; Interiors
      span /
      .product-link#product-link-instock Instock
      span /
      .product-link#product-link-styletrial Styletrial
      span /
      .product-link#product-link-mindset Mindset

    .col-xs-4.text-right
      i.fa.fa-user
      i.fa.fa-bell
      i.fa.fa-briefcase
      i.fa.fa-comments
      i.fa.fa-question-circle

  .row.product-row-bg.border-bottom
  .row.product-row
    #btn-menu: i.fa.fa-bars
    #product-logo(style="background-image: url('https://od.stylesight.com/content/assets/images/wgsn_logo.png');")
    #btn-search.border-left: i.fa.fa-search