header
  .row.global-product-row
    .pull-left
      i.icon.icon-bars.pull-left.hoverable.hidden-workspace.hidden-workspace.hidden-workspace-inbox.hidden-workspace-sent-messages.hidden-workspace-favourites
      img.wgsn-logo.pull-left.hoverable(src='https://www.wgsn.com/wp-content/themes/stylesight/library/images/redesign/logos/logo-nav-white.png')
      a.product-link#product-link-fashion(href="/image-library") Fashion
      a.product-link#product-link-li(href="") Lifestyle &amp; Interiors
      a.product-link#product-link-instock(href="") Instock
      a.product-link#product-link-styletrial(href="") Styletrial
      a.product-link#product-link-mindset(href="") Mindset

    .pull-right.text-right
      .block-hor-xs.pull-left.search-block.hoverable
        i.icon.icon-search.pull-left
        input.pull-left(type="text" )
        .search-section.pull-left
          h4.tight.pull-left All content
          i.icon.icon-caret-down.pull-left

      .block-hor-xs.pull-left.language-block.hoverable
        h4.pull-left EN
        i.icon.icon-caret-down.pull-left

      .block-hor-xs.pull-left
        i.icon.icon-bell.hoverable.btn-notifications
        i.icon.icon-envelope.hoverable.btn-message-notifications
        a(href="/workspace/autumn-winter-2016"): i.icon.icon-briefcase.hoverable
        i.icon.icon-chat.hoverable
        i.icon.icon-help-circle.hoverable

      .block-left-xs.pull-left.user-block.hoverable
        .avatar.pull-left(style="background-image: url('https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/05b/332/0aa54b4.jpg')")
        h4.pull-left Amelia Lewis
        i.icon.icon-caret-down.pull-left

  //- .row.product-row-bg.border-bottom.hidden-workspace.hidden-image-library.hidden-workspace-inbox.hidden-workspace-sent-messages.hidden-workspace-favourites
  //- .row.product-row.hidden-workspace.hidden-image-library.hidden-workspace-inbox.hidden-workspace-sent-messages.hidden-workspace-favourites
  //-   .hoverable#btn-menu: i.icon.icon-bars
  //-   .hoverable#product-logo(style="background-image: url('https://od.stylesight.com/content/assets/images/wgsn_logo.png');")
  //-   .hoverable#btn-search.border-left: i.icon.icon-search