.item-detail-modal.bg-grey
  .modal-controls
    i.fa.fa-times
    i.fa.fa-chevron-left
    i.fa.fa-chevron-right
  
  .modal-info-panel.border-right.block-md
    ul.clean
      li.font-wgsn Image
      li.caption.text-bold Yeezy
      li.caption Autumn/Winter 2016
      li.caption New York

  .modal-image-panel
    .img(style="background-image: url('http://www.wgsn.com/storage/vol20/ss_image_store/16/53/61/42/media_yzy_aw16_001.jpg');")

  .modal-tool-panel.border-left
    ul.clean.text-center
      li.block-sm.tight.border-bottom: i.fa.fa-plus-square
      li.block-sm.tight.border-bottom: i.fa.fa-download
      li.block-sm.tight.border-bottom: i.fa.fa-print
      li.block-sm.tight.border-bottom: i.fa.fa-crop
      li.block-sm.tight.border-bottom: i.fa.fa-paper-plane
      li.block-sm.tight.border-bottom: i.fa.fa-trash