ul.context-menu#item-context-menu
  li.block-xs.tight
    i.fa.fa-external-link-square
    span Open
  li.block-xs.tight
    i.fa.fa-plus-square
    span Add to a Board
  li.block-xs.tight
    i.fa.fa-download
    span Download
  li.block-xs.tight
    i.fa.fa-print
    span Print
  li.block-xs.tight
    i.fa.fa-crop
    span Crop
  li.block-xs.tight
    i.fa.fa-paper-plane
    span Send
  li.block-xs.tight.border-top
    i.fa.fa-trash
    span Delete