.item-detail-modal.bg-grey
  .modal-controls
    i.fa.fa-times
    i.fa.fa-chevron-left
    i.fa.fa-chevron-right
  
  .modal-info-panel.border-right
    .modal-section-caption.block-md.border-bottom
      ul.clean
        li.font-wgsn Image
        li.text-bold Yeezy
        li.text-bold.tight Autumn/Winter 2016
        li.text-bold New York
        li.tight Image name: yzy_aw16_003.jpg
        li.tight Format: JPG
        li.tight Market: Menswear
        li.tight View: Complete look
        li.tight Category: Showroom

    .modal-section-other
      .row.tabs
        .col-xs-4.text-center: .block-sm.border-right.hoverable: span.font-wgsn Comments
        .col-xs-4.text-center: .block-sm.border-right.border-bottom.bg-grey.hoverable: span.font-wgsn Related Images
        .col-xs-4.text-center: .block-sm.border-bottom.bg-grey.hoverable: span.font-wgsn Reports
      
      .comments-scroll-container.block-xs
        .comment.block-xs.border-bottom
          .user-avatar AL
          .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. 
            p.comment-time 02/03/2016 at 11:00am

        .comment.block-xs.border-bottom
          .user-avatar AL
          .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. 
            p.comment-time 02/03/2016 at 11:00am

        .comment.block-xs.border-bottom
          .user-avatar AL
          .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. 
            p.comment-time 02/03/2016 at 11:00am

        .comment.block-xs.border-bottom
          .user-avatar AL
          .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. 
            p.comment-time 02/03/2016 at 11:00am

        .comment.block-xs.border-bottom
          .user-avatar AL
          .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. 
            p.comment-time 02/03/2016 at 11:00am

        .comment.block-xs.border-bottom
          .user-avatar AL
          .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. 
            p.comment-time 02/03/2016 at 11:00am

        .comment.block-xs.border-bottom
          .user-avatar AL
          .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. 
            p.comment-time 02/03/2016 at 11:00am

        .comment.block-xs
          .user-avatar AL
          .text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac ante mauris. Vestibulum aliquam venenatis nisl, nec venenatis libero pretium at. In pretium. 
            p.comment-time 02/03/2016 at 11:00am

      .comment-input.block-xs.border-top: textarea(placeholder="Add a comment")

  .modal-image-panel
    .img(style="background-image: url('http://www.wgsn.com/storage/vol20/ss_image_store/36/53/61/42/original_yzy_aw16_003.jpg');")

  .modal-tool-panel.border-left
    ul.clean.text-center
      li.tight.border-bottom.hoverable: i.fa.fa-arrows-alt
      li.tight.border-bottom.hoverable: i.fa.fa-crop
      li.tight.border-bottom.hoverable: i.fa.fa-plus-square
      li.tight.border-bottom.hoverable: i.fa.fa-print
      li.tight.border-bottom.hoverable: i.fa.fa-download
      li.tight.border-bottom.hoverable: i.fa.fa-paper-plane
      //- li.tight.border-bottom: i.fa.fa-trash
    .item-count.text-center 3/43