.left-side-panel.border-right
  .item.block-sm.border-bottom
    i.fa.fa-envelope-o
    span Inbox
  .item.block-sm.border-bottom
    i.fa.fa-heart
    span Favourites
  .item.block-sm.border-bottom
    i.fa.fa-folder-o
    span Boards