.left-side-panel.border-right
  .item.block-sm.border-bottom
    i.fa.fa-envelope-o
    span Inbox
    .inbox-number.pull-right.text-center 2
  
  .item.block-sm.border-bottom
    i.fa.fa-heart
    span Favourites
  
  .item.border-bottom
    .block-sm: .btn Create New Board
    
    ul.clean
      li
        i.fa.fa-caret-down
        span My Boards

      li.level-2
        i.fa.fa-mobile
        span Mobile Uploads

      li.level-2
        i.fa.fa-caret-right
        i.fa.fa-folder-o
        span Board Name

      li.level-2
        i.fa.fa-caret-down
        i.fa.fa-folder-o
        span Board Name

      li.level-3
        i.fa.fa-caret-right
        i.fa.fa-folder-o
        span Board Name

      li.level-2
        i.fa.fa-caret-right
        i.fa.fa-folder-o
        span Board Name

  .item.block-top-sm.border-bottom  
    ul.clean
      li
        i.fa.fa-caret-down
        span Shared With Me

      li.level-2
        i.fa.fa-caret-right
        span Product

      li.level-3
        i.fa.fa-caret-right
        i.fa.fa-user
        span Julian Ramirez

      li.level-3
        i.fa.fa-caret-right
        i.fa.fa-user
        span Sansan Chen

      li.level-3
        i.fa.fa-caret-right
        i.fa.fa-user
        span Nicky Ashwell

      li.level-3
        i.fa.fa-caret-right
        i.fa.fa-user
        span Andrew Harris

      li.level-3
        i.fa.fa-caret-right
        i.fa.fa-user
        span Theba Marando

      li.level-3
        i.fa.fa-caret-right
        i.fa.fa-user
        span Hema Sivaram