mixin board-row(name, level, caret)
  li.board-row(class="level-" + level)
    if caret == "open"
      i.fa.fa-caret-down
    else if caret == "closed"
      i.fa.fa-caret-right
    else
      i.spacer
    i.fa.fa-folder-o
    span= name
    i.fa.fa-ellipsis-h.pull-right

    ul.board-context-menu.clean.border.box-shadow
      li.block-sm.tight.border-bottom
        i.fa.fa-plus
        span Create new board
      li.block-sm.tight.border-bottom
        i.fa.fa-share
        span Share
      li.block-sm.tight.border-bottom
        i.fa.fa-clone
        span Duplicate
      li.block-sm.tight.border-bottom
        i.fa.fa-pencil
        span Rename
      li.block-sm.tight.border-bottom
        i.fa.fa-download
        span Download
      li.block-sm.tight.border-bottom
        i.fa.fa-upload
        span Upload
      li.block-sm.tight.border-bottom
        i.fa.fa-print
        span Print
      li.block-sm.tight.border-bottom
        i.fa.fa-paper-plane
        span Send
      li.block-sm.tight.border-bottom
        i.fa.fa-bell-slash-o
        span Turn off notifications
      li.block-sm.tight.text-center.border-bottom
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
        i.fa.fa-circle
      li.block-sm.tight
        i.fa.fa-trash
        span Delete

mixin person-row(name, level, caret)
  li.person-row(class="level-" + level)
    if caret == "open"
      i.fa.fa-caret-down
    else if caret == "closed"
      i.fa.fa-caret-right
    else
      i.spacer
    i.fa.fa-user
    span= name

mixin team-row(name, level, caret)
  li.team-row(class="level-" + level)
    if caret == "open"
      i.fa.fa-caret-down
    else if caret == "closed"
      i.fa.fa-caret-right
    else
      i.spacer
    span= name


.left-side-panel.border-right
  .item.block-sm.border-bottom
    i.fa.fa-envelope-o
    span Inbox
    .inbox-number.pull-right.text-center 2
  
  .item.block-sm.border-bottom
    i.fa.fa-heart
    span Favourites
  
  .item.block-bot-sm.border-bottom
    .block-sm: .btn Create New Board
    
    ul.clean
      li.misc-row
        i.fa.fa-caret-down
        span My Boards

      li.misc-row.level-2
        i.fa.fa-mobile
        span Mobile Uploads

      +board-row("Board name", "2", "closed")
      +board-row("Board name", "2", "closed")
      +board-row("Board name", "2", "closed")
      +board-row("Board name", "2", "open")
      +board-row("Board name", "3", "closed")
      +board-row("Board name", "3", "")
      +board-row("Board name", "3", "")
      +board-row("Board name", "3", "closed")
      +board-row("Board name", "2", "closed")

  .item.block-sm.border-bottom  
    ul.clean
      li.misc-row
        i.fa.fa-caret-down
        span Shared With Me

      +team-row("Product", "2", "open")
      +person-row("Julian Ramirez", "3", "open")
      +board-row("Board name", "4", "closed")
      +board-row("Board name", "4", "closed")
      +board-row("Board name", "4", "closed")
      +board-row("Board name", "4", "open")
      +board-row("Board name", "5", "")
      +person-row("Sansan Chen", "3", "closed")
      +person-row("Andrew Harris", "3", "closed")
      +person-row("Nicky Ashwell", "3", "closed")
      +person-row("Theba Marando", "3", "closed")
      +person-row("Sarah Freiser", "3", "closed")
      +team-row("Content", "2", "closed")
      +team-row("Tech", "2", "closed")
      +team-row("QA", "2", "closed")
      +team-row("Content Graphics", "2", "closed")
      +team-row("Creative Services", "2", "closed")
      +team-row("Sales", "2", "closed")
      +team-row("Finance", "2", "closed")