include file

.right-side-panel.view-tiles-md
  include utility-row

  .row.files-row
    .col-xs-12
      .block-sm.files-container
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/16/53/61/42/media_yzy_aw16_001.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/26/53/61/42/media_yzy_aw16_002.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/36/53/61/42/media_yzy_aw16_003.jpg", "Yeezy", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/46/53/61/42/media_yzy_aw16_004.jpg", "Yeezy", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/56/53/61/42/media_yzy_aw16_005.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/66/53/61/42/media_yzy_aw16_006.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/76/53/61/42/media_yzy_aw16_007.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/96/53/61/42/media_yzy_aw16_009.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/07/53/61/42/media_yzy_aw16_010.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/17/53/61/42/media_yzy_aw16_011.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/27/53/61/42/media_yzy_aw16_012.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/37/53/61/42/media_yzy_aw16_013.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/47/53/61/42/media_yzy_aw16_014.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/57/53/61/42/media_yzy_aw16_015.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/67/53/61/42/media_yzy_aw16_016.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/77/53/61/42/media_yzy_aw16_017.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/87/53/61/42/media_yzy_aw16_018.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/97/53/61/42/media_yzy_aw16_019.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/08/53/61/42/media_yzy_aw16_020.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/16/53/61/42/media_yzy_aw16_001.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/26/53/61/42/media_yzy_aw16_002.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/36/53/61/42/media_yzy_aw16_003.jpg", "Yeezy", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/46/53/61/42/media_yzy_aw16_004.jpg", "Yeezy", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/56/53/61/42/media_yzy_aw16_005.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/66/53/61/42/media_yzy_aw16_006.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/76/53/61/42/media_yzy_aw16_007.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/96/53/61/42/media_yzy_aw16_009.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/07/53/61/42/media_yzy_aw16_010.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/17/53/61/42/media_yzy_aw16_011.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/27/53/61/42/media_yzy_aw16_012.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/37/53/61/42/media_yzy_aw16_013.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/47/53/61/42/media_yzy_aw16_014.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/57/53/61/42/media_yzy_aw16_015.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/67/53/61/42/media_yzy_aw16_016.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/77/53/61/42/media_yzy_aw16_017.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/87/53/61/42/media_yzy_aw16_018.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/97/53/61/42/media_yzy_aw16_019.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/08/53/61/42/media_yzy_aw16_020.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/16/53/61/42/media_yzy_aw16_001.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/26/53/61/42/media_yzy_aw16_002.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/36/53/61/42/media_yzy_aw16_003.jpg", "Yeezy", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/46/53/61/42/media_yzy_aw16_004.jpg", "Yeezy", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/56/53/61/42/media_yzy_aw16_005.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/66/53/61/42/media_yzy_aw16_006.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/76/53/61/42/media_yzy_aw16_007.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/96/53/61/42/media_yzy_aw16_009.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/07/53/61/42/media_yzy_aw16_010.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/17/53/61/42/media_yzy_aw16_011.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/27/53/61/42/media_yzy_aw16_012.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/37/53/61/42/media_yzy_aw16_013.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/47/53/61/42/media_yzy_aw16_014.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/57/53/61/42/media_yzy_aw16_015.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/67/53/61/42/media_yzy_aw16_016.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/77/53/61/42/media_yzy_aw16_017.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/87/53/61/42/media_yzy_aw16_018.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/97/53/61/42/media_yzy_aw16_019.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/08/53/61/42/media_yzy_aw16_020.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/16/53/61/42/media_yzy_aw16_001.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/26/53/61/42/media_yzy_aw16_002.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/36/53/61/42/media_yzy_aw16_003.jpg", "Yeezy", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/46/53/61/42/media_yzy_aw16_004.jpg", "Yeezy", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/56/53/61/42/media_yzy_aw16_005.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/66/53/61/42/media_yzy_aw16_006.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/76/53/61/42/media_yzy_aw16_007.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/96/53/61/42/media_yzy_aw16_009.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/07/53/61/42/media_yzy_aw16_010.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/17/53/61/42/media_yzy_aw16_011.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/27/53/61/42/media_yzy_aw16_012.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/37/53/61/42/media_yzy_aw16_013.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/47/53/61/42/media_yzy_aw16_014.jpg", "Yeezy", "Autumn/Winter 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/57/53/61/42/media_yzy_aw16_015.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/67/53/61/42/media_yzy_aw16_016.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/77/53/61/42/media_yzy_aw16_017.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/87/53/61/42/media_yzy_aw16_018.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/97/53/61/42/media_yzy_aw16_019.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/08/53/61/42/media_yzy_aw16_020.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
        