include file

.right-side-panel.border-left
  include utility-row

  .row
    .col-xs-12
      .block-sm
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer.col-xs-3: +file("image", "Zara", "Spring/Summer 2016", "New York")