include file

.right-side-panel.view-tiles-md
  .btn-left-side-panel.border.hoverable: i.icon.icon-angle-left

  .hidden-workspace: include image-library/filter-row
  include utility-row

  .files-row
    .block-sm.files-container
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/16/53/61/42/media_yzy_aw16_001.jpg", "no", "media_yzy_aw16_001.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/26/53/61/42/media_yzy_aw16_002.jpg", "no", "media_yzy_aw16_002.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/36/53/61/42/media_yzy_aw16_003.jpg", "no", "media_yzy_aw16_003.jpg", "Yeezy", "Spring/Summer 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/46/53/61/42/media_yzy_aw16_004.jpg", "yes", "media_yzy_aw16_004.jpg", "Yeezy", "Spring/Summer 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/56/53/61/42/media_yzy_aw16_005.jpg", "no", "media_yzy_aw16_005.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/66/53/61/42/media_yzy_aw16_006.jpg", "no", "media_yzy_aw16_006.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/76/53/61/42/media_yzy_aw16_007.jpg", "yes", "media_yzy_aw16_007.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/86/53/61/42/media_yzy_aw16_008.jpg", "no", "media_yzy_aw16_008.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/96/53/61/42/media_yzy_aw16_009.jpg", "no", "media_yzy_aw16_009.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/07/53/61/42/media_yzy_aw16_010.jpg", "no", "media_yzy_aw16_010.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/17/53/61/42/media_yzy_aw16_011.jpg", "no", "media_yzy_aw16_011.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/27/53/61/42/media_yzy_aw16_012.jpg", "yes", "media_yzy_aw16_012.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/37/53/61/42/media_yzy_aw16_013.jpg", "no", "media_yzy_aw16_013.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/47/53/61/42/media_yzy_aw16_014.jpg", "no", "media_yzy_aw16_014.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/57/53/61/42/media_yzy_aw16_015.jpg", "no", "media_yzy_aw16_015.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/67/53/61/42/media_yzy_aw16_016.jpg", "no", "media_yzy_aw16_016.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/77/53/61/42/media_yzy_aw16_017.jpg", "no", "media_yzy_aw16_017.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/87/53/61/42/media_yzy_aw16_018.jpg", "no", "media_yzy_aw16_018.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/97/53/61/42/media_yzy_aw16_019.jpg", "no", "media_yzy_aw16_019.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/08/53/61/42/media_yzy_aw16_020.jpg", "no", "media_yzy_aw16_020.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/18/53/61/42/media_yzy_aw16_021.jpg", "no", "media_yzy_aw16_021.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/28/53/61/42/media_yzy_aw16_022.jpg", "no", "media_yzy_aw16_022.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/38/53/61/42/media_yzy_aw16_023.jpg", "no", "media_yzy_aw16_023.jpg", "Yeezy", "Spring/Summer 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/48/53/61/42/media_yzy_aw16_024.jpg", "yes", "media_yzy_aw16_024.jpg", "Yeezy", "Spring/Summer 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/58/53/61/42/media_yzy_aw16_025.jpg", "no", "media_yzy_aw16_025.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/68/53/61/42/media_yzy_aw16_026.jpg", "no", "media_yzy_aw16_026.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/78/53/61/42/media_yzy_aw16_027.jpg", "no", "media_yzy_aw16_027.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/88/53/61/42/media_yzy_aw16_028.jpg", "no", "media_yzy_aw16_028.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/98/53/61/42/media_yzy_aw16_029.jpg", "no", "media_yzy_aw16_029.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/09/53/61/42/media_yzy_aw16_030.jpg", "no", "media_yzy_aw16_030.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/53/61/42/media_yzy_aw16_031.jpg", "yes", "media_yzy_aw16_031.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/29/53/61/42/media_yzy_aw16_032.jpg", "no", "media_yzy_aw16_032.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/39/53/61/42/media_yzy_aw16_033.jpg", "no", "media_yzy_aw16_033.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/49/53/61/42/media_yzy_aw16_034.jpg", "no", "media_yzy_aw16_034.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/59/53/61/42/media_yzy_aw16_035.jpg", "no", "media_yzy_aw16_035.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/69/53/61/42/media_yzy_aw16_036.jpg", "no", "media_yzy_aw16_036.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/79/53/61/42/media_yzy_aw16_037.jpg", "no", "media_yzy_aw16_037.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/89/53/61/42/media_yzy_aw16_038.jpg", "no", "media_yzy_aw16_038.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/99/53/61/42/media_yzy_aw16_039.jpg", "no", "media_yzy_aw16_039.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/00/63/61/42/media_yzy_aw16_040.jpg", "yes", "media_yzy_aw16_040.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/10/63/61/42/media_yzy_aw16_041.jpg", "no", "media_yzy_aw16_041.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/30/63/61/42/media_yzy_aw16_043.jpg", "no", "media_yzy_aw16_043.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/23/73/61/42/media_yzy_aw16_042.jpg", "no", "media_yzy_aw16_042.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/16/53/61/42/original_yzy_aw16_001.jpg", "no", "original_yzy_aw16_001.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/26/53/61/42/original_yzy_aw16_002.jpg", "no", "original_yzy_aw16_002.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/36/53/61/42/original_yzy_aw16_003.jpg", "no", "original_yzy_aw16_003.jpg", "Yeezy", "Spring/Summer 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/46/53/61/42/original_yzy_aw16_004.jpg", "no", "original_yzy_aw16_004.jpg", "Yeezy", "Spring/Summer 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/56/53/61/42/original_yzy_aw16_005.jpg", "yes", "original_yzy_aw16_005.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/66/53/61/42/original_yzy_aw16_006.jpg", "no", "original_yzy_aw16_006.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/76/53/61/42/original_yzy_aw16_007.jpg", "no", "original_yzy_aw16_007.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/86/53/61/42/original_yzy_aw16_008.jpg", "no", "original_yzy_aw16_008.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/96/53/61/42/original_yzy_aw16_009.jpg", "no", "original_yzy_aw16_009.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/07/53/61/42/original_yzy_aw16_010.jpg", "no", "original_yzy_aw16_010.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/17/53/61/42/original_yzy_aw16_011.jpg", "yes", "original_yzy_aw16_011.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/27/53/61/42/original_yzy_aw16_012.jpg", "no", "original_yzy_aw16_012.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/37/53/61/42/original_yzy_aw16_013.jpg", "no", "original_yzy_aw16_013.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/47/53/61/42/original_yzy_aw16_014.jpg", "no", "original_yzy_aw16_014.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/57/53/61/42/original_yzy_aw16_015.jpg", "no", "original_yzy_aw16_015.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/67/53/61/42/original_yzy_aw16_016.jpg", "no", "original_yzy_aw16_016.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/77/53/61/42/original_yzy_aw16_017.jpg", "no", "original_yzy_aw16_017.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/87/53/61/42/original_yzy_aw16_018.jpg", "no", "original_yzy_aw16_018.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/97/53/61/42/original_yzy_aw16_019.jpg", "yes", "original_yzy_aw16_019.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/08/53/61/42/original_yzy_aw16_020.jpg", "no", "original_yzy_aw16_020.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/18/53/61/42/original_yzy_aw16_021.jpg", "no", "original_yzy_aw16_021.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/28/53/61/42/original_yzy_aw16_022.jpg", "no", "original_yzy_aw16_022.jpg", "Yeezy", "Spring/Summer 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/38/53/61/42/original_yzy_aw16_023.jpg", "no", "original_yzy_aw16_023.jpg", "Yeezy", "Spring/Summer 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/48/53/61/42/original_yzy_aw16_024.jpg", "no", "original_yzy_aw16_024.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/58/53/61/42/original_yzy_aw16_025.jpg", "no", "original_yzy_aw16_025.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/68/53/61/42/original_yzy_aw16_026.jpg", "no", "original_yzy_aw16_026.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/78/53/61/42/original_yzy_aw16_027.jpg", "no", "original_yzy_aw16_027.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/88/53/61/42/original_yzy_aw16_028.jpg", "no", "original_yzy_aw16_028.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/98/53/61/42/original_yzy_aw16_029.jpg", "no", "original_yzy_aw16_029.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/09/53/61/42/original_yzy_aw16_030.jpg", "no", "original_yzy_aw16_030.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/53/61/42/original_yzy_aw16_031.jpg", "no", "original_yzy_aw16_031.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/29/53/61/42/original_yzy_aw16_032.jpg", "yes", "original_yzy_aw16_032.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/39/53/61/42/original_yzy_aw16_033.jpg", "no", "original_yzy_aw16_033.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/49/53/61/42/original_yzy_aw16_034.jpg", "no", "original_yzy_aw16_034.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/59/53/61/42/original_yzy_aw16_035.jpg", "no", "original_yzy_aw16_035.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/69/53/61/42/original_yzy_aw16_036.jpg", "no", "original_yzy_aw16_036.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/79/53/61/42/original_yzy_aw16_037.jpg", "no", "original_yzy_aw16_037.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/89/53/61/42/original_yzy_aw16_038.jpg", "no", "original_yzy_aw16_038.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/99/53/61/42/original_yzy_aw16_039.jpg", "yes", "original_yzy_aw16_039.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/00/63/61/42/original_yzy_aw16_040.jpg", "no", "original_yzy_aw16_040.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/10/63/61/42/original_yzy_aw16_041.jpg", "no", "original_yzy_aw16_041.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/30/63/61/42/original_yzy_aw16_043.jpg", "no", "original_yzy_aw16_043.jpg", "Yeezy", "Autumn/Winter 2016", "New York")
      .file-outer-details-view: +file-details-view("image", "http://www.wgsn.com/storage/vol20/ss_image_store/23/73/61/42/original_yzy_aw16_042.jpg", "no", "original_yzy_aw16_042.jpg", "Yeezy", "Autumn/Winter 2016", "New York")