include file

.right-side-panel.view-tiles-md
  include utility-row

  .row.files-row
    .col-xs-12
      .block-sm.files-container
        .file-outer: +file("image", "& Other Stories", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "Zara", "Pre-Fall 2015", "London")
        .file-outer: +file("image", "Chanel", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "H&M", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Celine", "Pre-Fall 2015", "New York")
        .file-outer: +file("image", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Zara", "Spring/Summer 2016", "London")(class="original-artwork")
        .file-outer: +file("image", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Celine", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "& Other Stories", "Pre-Fall 2015", "New York")
        .file-outer: +file("image", "H&M", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "Zara", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "H&M", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "Celine", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Celine", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Chanel", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "Zara", "Pre-Fall 2015", "New York")
        .file-outer: +file("image", "Celine", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "H&M", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Chanel", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "Celine", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "H&M", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Zara", "Pre-Fall 2015", "London")
        .file-outer: +file("image", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "Celine", "Pre-Fall 2015", "London")