include file

.right-side-panel.view-tiles-md
  include utility-row

  .row.files-row
    .col-xs-12
      .block-sm.files-container
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Pre-Fall 2015", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Chanel", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Pre-Fall 2015", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "London")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Pre-Fall 2015", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Chanel", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Pre-Fall 2015", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Chanel", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Pre-Fall 2015", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Pre-Fall 2015", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Pre-Fall 2015", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Chanel", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Pre-Fall 2015", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "London")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Pre-Fall 2015", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Chanel", "Spring/Summer 2016", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Pre-Fall 2015", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Chanel", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Spring/Summer 2016", "New York")(class="original-artwork")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "H&M", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Zara", "Pre-Fall 2015", "London")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "& Other Stories", "Spring/Summer 2016", "New York")
        .file-outer: +file("image", "http://www.wgsn.com/storage/vol20/ss_image_store/19/63/61/42/media_yzy_aw16_001.jpg", "Celine", "Pre-Fall 2015", "London")