script(type='text/javascript', src='js/jquery-1.11.3.js')

script.
  $('#tile-5 .fa-ellipsis-h').on('click', function() {
    $("#tile-5").addClass('show');
  });

  $('#tile-5 .stage-2').on('click', function() {
    $("#tile-5").removeClass('show');
  });