//- jquery
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')

//- moderniser
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

//- lazy load
//- script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js')

//- collage plus
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/collageplus/0.3.3/jquery.collagePlus.min.js')

//- for media queries on a container
script(type='text/javascript', src='/js/elementQuery.js')

//- header scroll effects
script(type='text/javascript', src='/js/headroom.js')
script(type='text/javascript', src='/js/jQuery.headroom.js')

//- autocomplete tag list
script(type='text/javascript', src='/js/tag-it.js')

//- fullscreen
script(type='text/javascript', src='/js/jquery.fullscreen.js')

//- device
script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/device.js/0.2.7/device.min.js')


script(type='text/javascript', src='/js/main.js')