script(type='text/javascript', src='js/jquery-1.11.3.js')

//- heart icons
script.
  $('.fa-heart-o').on('click', function() {
    $(".fa-heart-o").addClass('fa-heart');
    $(".fa-heart").removeClass('fa-heart-o');
  });

//- tile 5
script.
  $('#tile-5 .fa-ellipsis-h').on('click', function() {
    $("#tile-5").addClass('show');
  });

  $('#tile-5 .stage-2').on('click', function() {
    $("#tile-5").removeClass('show');
  });

//- tile 6
script.
  $('#tile-6 .menu-btn').on('click', function() {
    $("#tile-6 .context-menu").toggleClass('show');
  });

  $('#tile-6 .context-menu').on('click', function() {
    $("#tile-6 .context-menu").removeClass('show');
  });

//- tile 7
script.
  $('#tile-7 .menu-btn').on('click', function() {
    $("#tile-7 .context-menu").toggleClass('show');
  });

  $('#tile-7 .context-menu').on('click', function() {
    $("#tile-7 .context-menu").removeClass('show');
  });

//- view options
script.
  $('.view-options .btn-view-small').on('click', function() {
    $(".view-options").addClass('view-small');
    $(".view-options").removeClass('view-medium');
    $(".view-options").removeClass('view-large');
    $(".view-options").removeClass('view-modal');
    $(".btn-view-small").addClass('active');
    $(".btn-view-medium").removeClass('active');
    $(".btn-view-large").removeClass('active');
    $(".btn-view-modal").removeClass('active');
  });

  $('.view-options .btn-view-medium').on('click', function() {
    $(".view-options").removeClass('view-small');
    $(".view-options").addClass('view-medium');
    $(".view-options").removeClass('view-large');
    $(".view-options").removeClass('view-modal');
    $(".btn-view-small").removeClass('active');
    $(".btn-view-medium").addClass('active');
    $(".btn-view-large").removeClass('active');
    $(".btn-view-modal").removeClass('active');
  });

  $('.view-options .btn-view-large').on('click', function() {
    $(".view-options").removeClass('view-small');
    $(".view-options").removeClass('view-medium');
    $(".view-options").addClass('view-large');
    $(".view-options").removeClass('view-modal');
    $(".btn-view-small").removeClass('active');
    $(".btn-view-medium").removeClass('active');
    $(".btn-view-large").addClass('active');
    $(".btn-view-modal").removeClass('active');
  });

  $('.view-options .btn-view-modal').on('click', function() {
    $(".view-options").removeClass('view-small');
    $(".view-options").removeClass('view-medium');
    $(".view-options").removeClass('view-large');
    $(".view-options").addClass('view-modal');
    $(".btn-view-small").removeClass('active');
    $(".btn-view-medium").removeClass('active');
    $(".btn-view-large").removeClass('active');
    $(".btn-view-modal").addClass('active');
  });