script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
//- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.min.js')
script(type='text/javascript', src='/js/elementQuery.js')


//- ============================================================


//- heart icons
script.
  $('.file-heart').on('click', function() {
    $(this).toggleClass('icon-heart-o icon-heart');
  });

//- checkbox icons
script.
  $('.util-checkbox').on('click', function() {
    $(this).toggleClass('fa-square-o fa-check-square-o');
  });


//- toggle icons
script.
  showCaptions = function() {
    if ($('#toggle-show-caption').hasClass('fa-toggle-on')) {
      $('.file').addClass('show-caption');
    } else if ($('#toggle-show-caption').hasClass('fa-toggle-off')) {
      $('.file').removeClass('show-caption');
    }
  };

  showFilenames = function() {
    if ($('#toggle-show-filename').hasClass('fa-toggle-on')) {
      $('.file').addClass('show-filename');
    } else if ($('#toggle-show-filename').hasClass('fa-toggle-off')) {
      $('.file').removeClass('show-filename');
    }
  };
  
  $('.toggle').on('click', function() {
    $(this).toggleClass('fa-toggle-on fa-toggle-off');
    showCaptions();
    showFilenames();
  });


//- ============================================================
//- CONTEXT MENUS
//- ============================================================

script.
  //- item context menu
  $('.file .btn-item-menu').on('click', function() {
    $(this).siblings('#item-context-menu').toggleClass('show');
  });

  //- board context menu
  $('.board-row .icon-ellipsis').on('click', function() {
    $(this).siblings('#board-context-menu').toggleClass('show');
  });

  //- utility row context menu
  $('.utility-row .icon-ellipsis').on('click', function() {
    $('#utility-row-context-menu').toggleClass('show');
  });

  //- utility row settings context menu
  $('.utility-row .icon-gear').on('click', function() {
    $('#utility-row-settings-context-menu').toggleClass('show');
  });

  //- close context menu
  $('.context-menu').click(function(e, evt) {
    if($(e.target).is('.toggle')) {
      e.preventDefault();
      return;
    }
    
    $('.context-menu').removeClass('show');
  });


//- ============================================================
//- BOARD COLOR LABELS
//- ============================================================

script.
  $('.label-circle.label-circle-red').on('click', function() {
    $(this).addClass('selected');
    $(this).siblings().removeClass('selected');
    $(this).parentsUntil('.board-container').addClass('label-red').removeClass('label-orange').removeClass('label-yellow').removeClass('label-green').removeClass('label-blue').removeClass('label-purple').removeClass('label-grey');
  });

  $('.label-circle.label-circle-orange').on('click', function() {
    $(this).addClass('selected');
    $(this).siblings().removeClass('selected');
    $(this).parentsUntil('.board-container').removeClass('label-red').addClass('label-orange').removeClass('label-yellow').removeClass('label-green').removeClass('label-blue').removeClass('label-purple').removeClass('label-grey');
  });

  $('.label-circle.label-circle-yellow').on('click', function() {
    $(this).addClass('selected');
    $(this).siblings().removeClass('selected');
    $(this).parentsUntil('.board-container').removeClass('label-red').removeClass('label-orange').addClass('label-yellow').removeClass('label-green').removeClass('label-blue').removeClass('label-purple').removeClass('label-grey');
  });

  $('.label-circle.label-circle-green').on('click', function() {
    $(this).addClass('selected');
    $(this).siblings().removeClass('selected');
    $(this).parentsUntil('.board-container').removeClass('label-red').removeClass('label-orange').removeClass('label-yellow').addClass('label-green').removeClass('label-blue').removeClass('label-purple').removeClass('label-grey');
  });

  $('.label-circle.label-circle-blue').on('click', function() {
    $(this).addClass('selected');
    $(this).siblings().removeClass('selected');
    $(this).parentsUntil('.board-container').removeClass('label-red').removeClass('label-orange').removeClass('label-yellow').removeClass('label-green').addClass('label-blue').removeClass('label-purple').removeClass('label-grey');
  });

  $('.label-circle.label-circle-purple').on('click', function() {
    $(this).addClass('selected');
    $(this).siblings().removeClass('selected');
    $(this).parentsUntil('.board-container').removeClass('label-red').removeClass('label-orange').removeClass('label-yellow').removeClass('label-green').removeClass('label-blue').addClass('label-purple').removeClass('label-grey');
  });

  $('.label-circle.label-circle-grey').on('click', function() {
    $(this).addClass('selected');
    $(this).siblings().removeClass('selected');
    $(this).parentsUntil('.board-container').removeClass('label-red').removeClass('label-orange').removeClass('label-yellow').removeClass('label-green').removeClass('label-blue').removeClass('label-purple').addClass('label-grey');
  });


//- ============================================================
//- SELECT FILES
//- ============================================================

script.
  $('.file').click(function(e, evt) {
    if($(e.target).is('.file-heart, .btn, ul.context-menu, ul.context-menu li, ul.context-menu li span, ul.context-menu li .icon')) {
      e.preventDefault();
      return;
    }
    
    $(this).toggleClass('selected');
    $(this).children('.file-checkbox').toggleClass('icon-tick-circle icon-tick-circle-filled');
    $('.context-menu').removeClass('show');
  });

  $('.select-all').on('click', function() {
    $('.file').toggleClass('selected');
    $('.file-checkbox').toggleClass('icon-tick-circle icon-tick-circle-filled');
  });


//- ============================================================
//- VIEW TILE OPTIONS
//- ============================================================

script.
  $('#btn-view-option-sm').on('click', function() {
    $(this).removeClass('disabled');
    $(this).siblings().addClass('disabled');
    $(this).parentsUntil('.page-content').addClass('view-tiles-sm').removeClass('view-tiles-md').removeClass('view-tiles-lg').removeClass('view-tiles-details');
  });

  $('#btn-view-option-md').on('click', function() {
    $(this).removeClass('disabled');
    $(this).siblings().addClass('disabled');
    $(this).parentsUntil('.page-content').removeClass('view-tiles-sm').addClass('view-tiles-md').removeClass('view-tiles-lg').removeClass('view-tiles-details');
  });

  $('#btn-view-option-lg').on('click', function() {
    $(this).removeClass('disabled');
    $(this).siblings().addClass('disabled');
    $(this).parentsUntil('.page-content').removeClass('view-tiles-sm').removeClass('view-tiles-md').addClass('view-tiles-lg').removeClass('view-tiles-details');
  });

  $('#btn-view-option-details').on('click', function() {
    $(this).removeClass('disabled');
    $(this).siblings().addClass('disabled');
    $(this).parentsUntil('.page-content').removeClass('view-tiles-sm').removeClass('view-tiles-md').removeClass('view-tiles-lg').addClass('view-tiles-details');
  });


//- ============================================================
//- DELETE ITEM
//- ============================================================

script.
  $('.utility-row .icon-trash').on('click', function() {
    $('.file.selected').parentsUntil('.files-container').remove();
  });


//- ============================================================
//- PAGE STRUCTURE
//- ============================================================

//- left-side panel
script.
  $('#btn-left-side-panel').on('click', function() {
    $('.page-content').toggleClass('show-left-side-panel');
  });

//- comments panel
script.
  $('#btn-comments-panel').on('click', function() {
    $('.page-content').toggleClass('show-comments-panel');
  });

//- image library left-side tabs
script.
  $('#tab-filters').on('click', function() {
    $(this).addClass('active');
    $('#tab-folders').removeClass('active');
    $('.image-library-view .left-side-panel').addClass('image-library-filters-active').removeClass('image-library-folders-active');
  });

  $('#tab-folders').on('click', function() {
    $(this).addClass('active');
    $('#tab-filters').removeClass('active');
    $('.image-library-view .left-side-panel').addClass('image-library-folders-active').removeClass('image-library-filters-active');
  });

//- filter row expand/condense
script.
  $('#btn-filter-row-expand').on('click', function() {
    $('.filter-row').toggleClass('condensed expanded');
  });

  $('.filter-tag .icon-cross').on('click', function() {
    $(this).parentsUntil('.filter-container').remove();
  });  


//- ============================================================
//- FILTERS
//- ============================================================

script.
  //- category
  $('#filter-btn-category').on('click', function() {
    $(this).toggleClass('active');
    $('#filter-category').toggleClass('show');
  });

  //- market
  $('#filter-btn-market').on('click', function() {
    $(this).toggleClass('active');
    $('#filter-market').toggleClass('show');
  });

  //- products
  $('#filter-btn-products').on('click', function() {
    $(this).toggleClass('active');
    $('#filter-products').toggleClass('show');
  });

  //- designer
  $('#filter-btn-designer').on('click', function() {
    $(this).toggleClass('active');
    $('#filter-designer').toggleClass('show');
  });


//- ============================================================
//- MODALS
//- ============================================================

script.
  //- share
  $('.btn-share').on('click', function() {
    $('.overlay').addClass('show');
    $('#share-modal').addClass('show');
  });

  //- add
  $('.btn-add-to-board').on('click', function() {
    $('.overlay').addClass('show');
    $('#add-modal').addClass('show');
  });

  //- add
  $('.btn-send').on('click', function() {
    $('.overlay').addClass('show');
    $('#send-modal').addClass('show');
  });

  //- close modal
  $('.modal .close-modal').on('click', function() {
    $(this).parentsUntil('body').removeClass('show');

    //- keep overlay if it was a second level modal
    if ($('#item-detail-modal').hasClass('show')) {
      return;
    } else {
      $('.overlay').removeClass('show');
    }
  });

//- item detail modal
script.
  $('.file').on('dblclick', function() {
    $('.overlay').addClass('show');
    $('#item-detail-modal').addClass('show');
  });

  $('.btn-open').on('click', function() {
    $('.overlay').addClass('show');
    $('#item-detail-modal').addClass('show');
  });

  $('.btn-modal-show-comments').on('click', function() {
    $('.modal-section-other').addClass('show-comments').removeClass('show-related-images').removeClass('show-related-reports');
  });

  $('.btn-modal-show-related-images').on('click', function() {
    $('.modal-section-other').removeClass('show-comments').addClass('show-related-images').removeClass('show-related-reports');
  });

  $('.btn-modal-show-related-reports').on('click', function() {
    $('.modal-section-other').removeClass('show-comments').removeClass('show-related-images').addClass('show-related-reports');
  });





//- script.
//-   // grab an element
//-   var myElement = document.querySelector("header");
//-   // construct an instance of Headroom, passing the element
//-   var headroom  = new Headroom(myElement);
//-   // initialise
//-   headroom.init();