script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.min.js')

script.
  $('.product-link').on('click', function() {
    $(this).siblings('.product-link').removeClass('active');
    $(this).addClass('active');
  });

script.
  // grab an element
  var myElement = document.querySelector("header");
  // construct an instance of Headroom, passing the element
  var headroom  = new Headroom(myElement);
  // initialise
  headroom.init();