script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')

//- heart icons
script.
  $('.fa-heart-o').on('click', function() {
    $(this).addClass('fa-heart').removeClass('fa-heart-o');
  });

//- select icons
script.
  $('.fa-square-o').on('click', function() {
    $(this).addClass('fa-check-square-o').removeClass('fa-square-o');
    $(this).parentsUntil('.file-container').addClass('selected');
  });

script.
  $('.select-all').on('click', function() {
    $('.fa-square-o').addClass('fa-check-square-o').removeClass('fa-square-o');
    $('.file').addClass('selected');
  });

//- file menu
script.
  $('.file .menu-btn').on('click', function() {
    $(this).siblings('.context-menu').toggleClass('show');
  });

  $('.file .context-menu').on('click', function() {
    $('.file .context-menu').removeClass('show');
  });

//- view options
script.
  $('.fa-th').on('click', function() {
    $(this).removeClass('disabled');
    $(this).siblings().addClass('disabled');
    $(this).parentsUntil('.workspace-content').addClass('view-tiles-sm').removeClass('view-tiles-md').removeClass('view-tiles-lg').removeClass('view-tiles-details');
  });

script.
  $('.fa-th-large').on('click', function() {
    $(this).removeClass('disabled');
    $(this).siblings().addClass('disabled');
    $(this).parentsUntil('.workspace-content').removeClass('view-tiles-sm').addClass('view-tiles-md').removeClass('view-tiles-lg').removeClass('view-tiles-details');
  });

script.
  $('.fa-square').on('click', function() {
    $(this).removeClass('disabled');
    $(this).siblings().addClass('disabled');
    $(this).parentsUntil('.workspace-content').removeClass('view-tiles-sm').removeClass('view-tiles-md').addClass('view-tiles-lg').removeClass('view-tiles-details');
  });

script.
  $('.fa-columns').on('click', function() {
    $(this).removeClass('disabled');
    $(this).siblings().addClass('disabled');
    $(this).parentsUntil('.workspace-content').removeClass('view-tiles-sm').removeClass('view-tiles-md').removeClass('view-tiles-lg').addClass('view-tiles-details');
  });













//- //- tile 5
//- script.
//-   $('.view-file-utilities #tile-5 .fa-ellipsis-h').on('click', function() {
//-     $("#tile-5").addClass('show');
//-   });

//-   $('.view-file-utilities #tile-5 .stage-2').on('click', function() {
//-     $("#tile-5").removeClass('show');
//-   });

//- //- tile 6
//- script.
//-   $('.view-file-utilities #tile-6 .menu-btn').on('click', function() {
//-     $("#tile-6 .context-menu").toggleClass('show');
//-   });

//-   $('.view-file-utilities #tile-6 .context-menu').on('click', function() {
//-     $("#tile-6 .context-menu").removeClass('show');
//-   });

//- //- tile 7
//- script.
//-   $('.view-file-utilities #tile-7 .menu-btn').on('click', function() {
//-     $("#tile-7 .context-menu").toggleClass('show');
//-   });

//-   $('.view-file-utilities #tile-7 .context-menu').on('click', function() {
//-     $("#tile-7 .context-menu").removeClass('show');
//-   });

//- //- view options
//- script.
//-   $('.view-options .btn-view-small').on('click', function() {
//-     $(".view-options").addClass('view-small');
//-     $(".view-options").removeClass('view-medium');
//-     $(".view-options").removeClass('view-large');
//-     $(".btn-view-small").addClass('active');
//-     $(".btn-view-medium").removeClass('active');
//-     $(".btn-view-large").removeClass('active');
//-   });

//-   $('.view-options .btn-view-medium').on('click', function() {
//-     $(".view-options").removeClass('view-small');
//-     $(".view-options").addClass('view-medium');
//-     $(".view-options").removeClass('view-large');
//-     $(".btn-view-small").removeClass('active');
//-     $(".btn-view-medium").addClass('active');
//-     $(".btn-view-large").removeClass('active');
//-   });

//-   $('.view-options .btn-view-large').on('click', function() {
//-     $(".view-options").removeClass('view-small');
//-     $(".view-options").removeClass('view-medium');
//-     $(".view-options").addClass('view-large');
//-     $(".btn-view-small").removeClass('active');
//-     $(".btn-view-medium").removeClass('active');
//-     $(".btn-view-large").addClass('active');
//-   });