.row.utility-row.border-bottom
  .col-xs-6.col-sm-4
    .block-sm
      .search-input
        input(type="text", placeholder="Search this board")
        span.icon.border: i.fa.fa-search

  .col-xs-6.col-sm-8.text-right
    .block-sm
      .block-sm.block-inline
        p.tight Displaying 15 of 1000 items

      .block-sm.block-inline: p |
      
      .block-sm.block-inline
        i.fa.fa-square-o.select-all
        span Select all (1000)

      .block-sm.block-inline: p |
      
      .block-sm.block-inline
        i.fa.fa-gear

      .block-sm.block-inline: p |
      
      .block-sm.block-inline
        i.fa.fa-th.disabled
        i.fa.fa-th-large
        i.fa.fa-square.disabled
        i.fa.fa-columns.disabled

      .block-sm.block-inline: p |
      
      .block-sm.block-inline
        i.fa.fa-plus-square
        i.fa.fa-download
        i.fa.fa-print
        i.fa.fa-paper-plane
        i.fa.fa-trash
        i.fa.fa-ellipsis-h

        ul.utility-row-context-menu.clean.border.box-shadow.text-left
          li.block-sm.tight.border-bottom
            i.fa.fa-plus-square
            span Add to a Board
          li.block-sm.tight.border-bottom
            i.fa.fa-download
            span Download
          li.block-sm.tight.border-bottom
            i.fa.fa-print
            span Print
          li.block-sm.tight.border-bottom
            i.fa.fa-paper-plane
            span Send
          li.block-sm.tight
            i.fa.fa-trash
            span Delete