.row.utility-row.border-bottom.bg-white
  .pull-left.block-xs
    .input-container.hidden-image-library.hidden-workspace-inbox.hidden-workspace-sent-messages.hidden-workspace-favourites
      input(type="text", placeholder="Search this board")
      span.icon-container.border: i.icon.icon-search
    
    .input-container.hidden-image-library.hidden-workspace.hidden-workspace-sent-messages.hidden-workspace-favourites
      input(type="text", placeholder="Search inbox")
      span.icon-container.border: i.icon.icon-search
    
    .input-container.hidden-image-library.hidden-workspace.hidden-workspace-inbox.hidden-workspace-favourites
      input(type="text", placeholder="Search sent messages")
      span.icon-container.border: i.icon.icon-search

    .block-hor-xs.hidden-workspace.hidden-workspace-inbox.hidden-workspace-sent-messages.hidden-workspace-favourites
      .block-ver-xs.block-right-xs.inline-block Sort by:
      //- .inline-block.border.sort-input.hoverable
      //-   span Best match
      //-   i.icon.icon-caret-down
      //- include context-menus/sort-by-context-menu
      select
        option Best match
        option Date: newest first
        option Date: newest last

  .pull-right.block-xs.text-right.hidden-workspace-inbox.hidden-workspace-sent-messages
    .utility-block.displaying-results
      span Displaying 15 of 1000 items

    .utility-block
      .btn-view-option.disabled#btn-view-option-sm: i.icon.icon-grid-sm
      .btn-view-option#btn-view-option-md: i.icon.icon-grid-md
      .btn-view-option.disabled#btn-view-option-lg: i.icon.icon-grid-lg
      .btn-view-option.disabled#btn-view-option-details: i.icon.icon-grid-details

    .utility-block.divider
    
    .utility-block
      input.select-all#select-all(type="checkbox")
      label.hoverable(for="select-all") Select all (1000)
    
    .utility-block
      i.icon.icon-plus-circle.multi-utility-icon.hoverable.btn-add-to-board: span.tooltip.nowrap Add to Board
      i.icon.icon-download.multi-utility-icon.hoverable: span.tooltip.nowrap Download
      i.icon.icon-print.multi-utility-icon.hoverable.btn-print: span.tooltip.nowrap Print
      i.icon.icon-paper-plane.multi-utility-icon.hoverable.btn-send: span.tooltip.nowrap Send
      i.icon.icon-trash.multi-utility-icon.hoverable.hidden-image-library: span.tooltip.nowrap Delete
      i.icon.icon-ellipsis.hoverable.tight
      include context-menus/utility-row-context-menu

    .utility-block.divider

    .utility-block
      i.icon.icon-gear.hoverable
      include context-menus/utility-row-settings-context-menu