.row.utility-row.border-bottom
  .col-xs-6.col-sm-4
    .block-xs
      .input-container.hidden-image-library
        input(type="text", placeholder="Search this board")
        span.icon-container.border: i.icon.icon-search

      .hidden-workspace.block-hor-xs
        .block-ver-xs.block-right-xs.inline-block Sort by:
        .inline-block.border.sort-input.hoverable
          span Best match
          i.icon.icon-caret-down

        ul.context-menu.dropdown.text-left#sort-by-context-menu
          .block-xxs
            li
              i.icon.icon-tick
              span Best match
            li
              i.spacer
              span Date: newest first
            li
              i.spacer
              span Date: oldest first

  .col-xs-6.col-sm-8.text-right
    .block-xs
      .block-hor-xs.inline-block.displaying-results
        span Displaying 15 of 1000 items

      .inline-block.divider: p |
      
      .block-hor-xs.inline-block
        i.util-checkbox.fa.fa-square-o.select-all.hoverable
        span Select all (1000)
      
      .block-hor-xs.inline-block
        i.icon.icon-gear.hoverable

        ul.context-menu.text-left#utility-row-settings-context-menu
          .block-xs
            li
              span Show Captions
              i.toggle.fa.fa-toggle-on.pull-right#toggle-show-caption
            li
              span Show Filenames
              i.toggle.fa.fa-toggle-off.pull-right#toggle-show-filename
          .block-xs.text-center.border-top  
            li
              span.text-underline More Settings
      
      .block-hor-xs.inline-block
        .btn-view-option.inline-block.hoverable.border.disabled#btn-view-option-sm: i.icon.icon-grid-sm
        .btn-view-option.inline-block.hoverable.border#btn-view-option-md: i.icon.icon-grid-md
        .btn-view-option.inline-block.hoverable.border.disabled#btn-view-option-lg: i.icon.icon-grid-lg
        .btn-view-option.inline-block.hoverable.border.disabled#btn-view-option-details: i.icon.icon-grid-details
      
      .block-hor-xs.inline-block
        i.icon.icon-plus-circle.multi-utility-icon.hoverable.btn-add-to-board: span.tooltip.nowrap Add to Board
        i.icon.icon-download.multi-utility-icon.hoverable: span.tooltip.nowrap Download
        i.icon.icon-print.multi-utility-icon.hoverable: span.tooltip.nowrap Print
        i.icon.icon-paper-plane.multi-utility-icon.hoverable.btn-send: span.tooltip.nowrap Send
        i.icon.icon-trash.multi-utility-icon.hoverable: span.tooltip.nowrap Delete
        i.icon.icon-ellipsis.hoverable.tight

        ul.context-menu.text-left#utility-row-context-menu
          .block-xxs.border-bottom
            li
              i.icon.icon-plus-circle
              span Add to a Board
            li
              i.icon.icon-download
              span Download
            li
              i.icon.icon-print
              span Print
            li
              i.icon.icon-paper-plane
              span Send
          .block-xxs
            li
              i.icon.icon-trash
              span Delete