.row.utility-row.border-bottom
  .col-xs-6.col-sm-4
    .block-xs
      .search-input
        input(type="text", placeholder="Search this board")
        span.icon.border: i.fa.fa-search

  .col-xs-6.col-sm-8.text-right
    .block-xs
      .block-hor-xs.block-inline
        span Displaying 15 of 1000 items

      .block-inline: p |
      
      .block-hor-xs.block-inline
        i.util-checkbox.fa.fa-square-o.select-all
        span Select all (1000)
      
      .block-hor-xs.block-inline
        i.fa.fa-gear.hoverable

        ul.context-menu.text-left#utility-row-settings-context-menu
          li.block-xs.tight
            span Show Captions
            i.toggle.fa.fa-toggle-on.pull-right#toggle-show-caption
          li.block-xs.tight
            span Show Filenames
            i.toggle.fa.fa-toggle-off.pull-right#toggle-show-filename
          li.block-xs.tight.text-center.border-top
            span.text-underline More Settings
      
      .block-hor-xs.block-inline
        .btn-view-option.block-inline.border: i.fa.fa-th.disabled.hoverable
        .btn-view-option.block-inline.border: i.fa.fa-th-large.hoverable
        .btn-view-option.block-inline.border: i.fa.fa-square.disabled.hoverable
        .btn-view-option.block-inline.border: i.fa.fa-columns.disabled.hoverable
      
      .block-hor-xs.block-inline
        i.fa.fa-plus-square.multi-utility-icon.hoverable
        i.fa.fa-download.multi-utility-icon.hoverable
        i.fa.fa-print.multi-utility-icon.hoverable
        i.fa.fa-paper-plane.multi-utility-icon.hoverable
        i.fa.fa-trash.multi-utility-icon.hoverable
        i.fa.fa-ellipsis-h.hoverable

        ul.context-menu.text-left#utility-row-context-menu
          li.block-xs.tight
            i.fa.fa-plus-square
            span Add to a Board
          li.block-xs.tight
            i.fa.fa-download
            span Download
          li.block-xs.tight
            i.fa.fa-print
            span Print
          li.block-xs.tight
            i.fa.fa-paper-plane
            span Send
          li.block-xs.tight.border-top
            i.fa.fa-trash
            span Delete