.row.utility-row.border-bottom
  .col-xs-4
    .block-sm
      .search-input
        input(type="text", placeholder="Search this board")
        span.icon.border: i.fa.fa-search

  .col-xs-8.text-right
    .block-ver-sm
      .block-sm.block-inline.border-right
        p.tight Displaying 15 of 1000 items
      
      .block-sm.block-inline.border-right
        i.fa.fa-square-o.select-all
        span Select all
      
      .block-sm.block-inline.border-right
        i.fa.fa-gear
      
      .block-sm.block-inline.border-right
        i.fa.fa-th.disabled
        i.fa.fa-th-large
        i.fa.fa-square.disabled
        i.fa.fa-columns.disabled
      
      .block-sm.block-inline
        i.fa.fa-plus-square
        i.fa.fa-download
        i.fa.fa-print
        i.fa.fa-paper-plane
        i.fa.fa-trash