extends ../../layout

block append vars
  - bodyclass = 'workspace-messaages-view workspace-sent-messages-view product-none'

block prepend title
  | Sent Messages | Messages | Workspace |

block content
  .page-content.show-left-side-panel
    include ../../partials/workspace/left-side-panel
    
    .right-side-panel
      .title-row.border-bottom.block-hor-md
        .block-ver-xs.block-right-xs.pull-left
          h1.tight.inline-block.multi-line
            span Workspace
            | Sent Messages

      .btn-left-side-panel.hoverable: i.icon.icon-angle-left
      include ../../partials/workspace/messages-row