extends ../../layout

block append vars
  - bodyclass = 'workspace-sent-messages-view'

block prepend title
  | Sent Messages | 

block content
  include ../../partials/header

  .row.title-row.border-bottom
    .title-block.block-sm.pull-left
      h2.tight.inline-block WGSN Workspace
      .block-left-xs.inline-block
        .block-xxs.inline-block.board-name.hoverable: span Sent Messages

  .row.page-content.show-left-side-panel
    include ../../partials/workspace/left-side-panel
    
    .right-side-panel.bg-grey
      .btn-left-side-panel.border.hoverable: i.icon.icon-angle-left
      include ../../partials/workspace/messages-row